<div class="row">
  <div class="col-md-9">
    <input class="btn btn-default btn-hypothesis-group btn-save" type="button" value="+ Uusi ryhmä" data-toggle="collapse" data-target="#collapseNewGroup" />
    <div class="collapse" id="collapseNewGroup">
      <%= form_for(@new_question_group) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <%= f.text_field :title, placeholder: "Nimi", :class => 'width100' %>

           <%= f.hidden_field :interview_id, :value => interview.id %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.submit :class => 'btn btn-default btn-save' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>