<div class="row padding-bottom-10">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="center-text multiline margin-0">Sairaskertomus</h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button uib-popover="Tällä sivulla voit lukea casen anamneesin ja seurata suorittamiesi toimenpiteiden suoritusjärjestystä. Lisäksi näet yleisiä ohjeita taudinpurkauspelin pelaamiseen liittyen."
                popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="separator"></div>

<div ng-if="exercise.hidden && currentUserAdmin" class="padding-top-20">
    <div class="row padding-bottom-20">
        <div class="col-md-1"></div>
        <div class="col-md-10 center-text">
            Tämä case on piilotettu opiskelijoilta. Muokkaa casea tehdäksesi siitä opiskelijoille näkyvän.
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="separator"></div>
</div>

<div ng-if="currentUser && !currentUserAdmin && userHasCompletedExercise" class="padding-top-20">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <completed_exercise></completed_exercise>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="separator"></div>
</div>

<div ng-if="currentUser && !currentUserAdmin">
    <div class="row padding-bottom-20">
        <div class="col-md-12">
            <h2 class="center-text multiline">Ohjeita pelin pelaamiseen</h2>
        </div>
    </div>

    <div class="row  padding-bottom-20">
        <div class="col-md-1"></div>
        <div class="col-md-10 center-text">
            <p>Pelin tarkoitus on opetella taudinpurkaukseen tarvittavaa ajattelumallia. Yritä miettiä, mikä olisi paras järjestys suorittaa pelin toimenpiteet oikeaan diagnoosiin päästäksesi. Pelin toimenpiteet eivät ole toimenpidelistassa oikeassa suoritusjärjestyksessä. Vääriä diffejä on helpointa sulkea pois heti, kun voit varmuudella tehdä niin.</p>

            <p>Ohjeita löytyy sivun oikeasta laidasta Ohje-napista. Sivun yläreunassa on välilehtiä, joiden avulla voi liikkua. Huomioithan myös, että joillakin pelin sivuilla on paljon sisältöä, joten muista scrollata sivut aina alas asti!</p>

            <p>Tieto tekemistäsi toimenpiteistä ja niiden suoritusjärjestyksestä kertyy Sairaskertomus-välilehdelle. Tieto casen oikeasta toimintajärjestyksestä kertyy Toimenpiteet-välilehdelle.</p>

            <p>Edistymisesi casessa tallentuu automaattisesti, joten voit poistua välillä Taudinpurkauspelistä ja tulla myöhemmin jatkamaan casen selvittämistä. Osa tehtävistä merkitään tehdyiksi vasta painettuasi joko Tarkista- tai Jatka-nappia tehtävän lopussa, joten muista painaa niitä suorittaaksesi tehtävän!</p>

            <p>Jos huomaat, että casen välilehdillä olevat tiedot eivät muutu, voit kokeilla päivittää sivun uudestaan. Se korjaa ongelman useimmissa tapauksissa.</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="separator"></div>
</div>

<div class="row padding-bottom-20">
    <div class="col-md-12">
        <h2 class="center-text multiline">Anamneesi</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">

                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button uib-popover="Tässä näet caseen liittyvän anamneesin."
                                popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
                    </div>
                </div>
            </div>
            <div ta-bind="text" ng-model="exercise.anamnesis" class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="separator"></div>


<div ng-if="currentUser && !currentUserAdmin">

    <div class="row padding-bottom-20">
        <div class="col-md-12">
            <h2 class="center-text multiline">Tehdyt toimenpiteet suoritusjärjestyksessä</h2>
        </div>
    </div>

    <div ng-repeat="(index, task) in completedTasksForUser" ng-if="userHasCompletedTasks(completedTasksForUser)">

        <div class="row padding-bottom-20">
            <div class="col-md-1"></div>

            <div class="col-md-10">

                <button class="btn btn-default btn-lg width-100 multiline padding-top-20 padding-bottom-20" uib-collapse ng-click="isCollapsed = !isCollapsed">
                    {{index+1}}. {{task.name}}
                </button>

                <div class="panel panel-default" uib-collapse="!isCollapsed">
                    <div class="panel-body">
                        <task-show task="task" current-user="currentUser"></task-show>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>

    <div class="row padding-bottom-20" ng-if="!userHasCompletedTasks(completedTasksForUser)">
        <div class="col-md-1"></div>

        <div class="col-md-10 center-text">
            Et ole vielä suorittanut yhtään toimenpidettä.
        </div>

        <div class="col-md-1"></div>
    </div>

</div>

<div class="row padding-top-20" ng-if="currentUserAdmin && exercise">
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <button class="btn btn-default btn-success btn-lg width-100"
                type="button"
                ng-click="updateExercise()">
            Muokkaa
        </button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default btn-danger btn-lg width-100" type="button" ng-click="removeExercise(exercise)">
            Poista
        </button>
    </div>
    <div class="col-md-4"></div>

</div>
