<div class="row padding-bottom-10">
    <div class="col-md-12">
        <h1 class="center-text">Case: {{exercise.name}}</h1>
    </div>
</div>

<div class = "separator"></div>

<div ng-if="exercise.hidden">
    <p>Tämä case on piilotettu opiskelijoilta. Muokkaa casea tehdäksesi siitä näkyvä.</p>
    <br/>
    <div class="separator"></div>
    <br/>
</div>

<div ng-if="currentUser && !currentUserAdmin && userHasCompletedExercise" class="padding-top-20">
    <completed_exercise></completed_exercise>
    <div class="separator"></div>
</div>

<div class="row padding-bottom-20">
    <div class="col-md-12">
        <h2 class="center-text">Anamneesi</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div ta-bind="text" ng-model="exercise.anamnesis" class="panel-body">
            </div>
        </div>
    </div>
</div>


<div class="separator"></div>


<div ng-if="currentUser && !currentUserAdmin">

    <div class="row padding-bottom-20">
        <div class="col-md-12">
            <h2 class="center-text">Tehdyt toimenpiteet</h2>
        </div>
    </div>

    <div ng-repeat="(index, task) in completedTasksForUser">

        <div class="row">

            <div class="col-md-12 padding-bottom-20">

                <button class="btn btn-default btn-lg btn-completed-exercise multiline padding-top-20 padding-bottom-20" uib-collapse ng-click="isCollapsed = !isCollapsed">
                    {{index+1}}. {{task.name}}
                </button>

                <div class="panel panel-default panel-grey" uib-collapse="!isCollapsed">
                        <div class="panel-body">
                            <task-show task="task" current-user="currentUser"></task-show>
                        </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="row" ng-if="currentUserAdmin && exercise">

    <div class="col-md-5">
        <button class="btn btn-default btn-exercise btn-save"
                ng-click="updateExercise()">
            Muokkaa
        </button>
    </div>
</div>
