<div class = "row">
    <div class = "col-md-8">
        <h1>Case: {{exercise.name}}</h1>
    </div>
</div>
<div class = "separator"></div>
<br/>

<div ng-if="exercise.hidden">
    <p>Tämä case on piilotettu opiskelijoilta. Muokkaa casea tehdäksesi siitä näkyvä.</p>
    <br/>
    <div class="separator"></div>
    <br/>
</div>

<div ng-if="currentUser && !currentUserAdmin && userHasCompletedExercise">
    <completed_exercise></completed_exercise>
    <div class="separator"></div>
    <br/>
</div>

<h3>Anamneesi</h3>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div ta-bind="text" ng-model="exercise.anamnesis" class="panel-body">
    </div>
</div>

<div class = "separator"></div>
<br />

<div ng-if="currentUser && !currentUserAdmin">

    <h3>Tehdyt toimenpiteet</h3>

    <br/>
    <br/>

    <div ng-repeat="(index, task) in completedTasksForUser">

        <div class = "row">
            <div class = "col-md-12">

                <button class="btn btn-default btn-completed-task" data-toggle="collapse" id="collapse-completed-task-link{{task.id}}" href="#collapse-completed-task{{task.id}}" >
                    {{index+1}}. {{task.name}}
                </button>

                <div class="panel panel-default panel-grey">
                    <div id="collapse-completed-task{{task.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <task-show task="task" current-user="currentUser"></task-show>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-5">
        <button class="btn btn-default btn-exercise btn-save"
                ng-if="currentUserAdmin && exercise"
                ng-click="updateExercise()">
            Muokkaa
        </button>
    </div>
</div>
