<div class="panel panel-default panel-light-green">
    <div class="panel-heading panel-heading-green">
        <h3 class="panel-title center-text multiline">Case suoritettu!</h3>
    </div>
    <div class="panel-body center-text">
        <p>Selvitit casen ja olet tehnyt kaikki tarvittavat toimenpiteet. Onneksi olkoon!</p>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn btn-default btn-lg btn-block btn-warning" ng-click="restartExercise()">Aloita alusta</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
