<div class="hypothesis-list">
    <div class="row">
        <div class="col-md-5">
            <h3>Casen {{exercise.name}} diffit</h3>
            <br/>

            <div ng-repeat="(hypothesis_group, exercise_hypotheses) in exerciseHypotheses">

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default btn-hypothesis multiline btn-save" >{{exercise_hypotheses[0].hypothesis.hypothesis_group.name}}</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <button class="btn btn-default btn-hypothesis multiline"
                            ng-repeat="exercise_hypothesis in exercise_hypotheses"
                            ng-click="removeFromExercise(exercise_hypothesis)">
                            {{exercise_hypothesis.hypothesis.name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <br/>
            <br/>
            <br/>
        </div>

        <div class="col-md-5">
            <h3>Diffipankki</h3>
            <br/>

            <div ng-repeat="(hypothesis_group, hypotheses) in hypothesisBank">

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default btn-hypothesis multiline btn-save" >{{hypotheses[0].hypothesis_group.name}}</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <button class="btn btn-default btn-hypothesis multiline"
                            ng-repeat="hypothesis in hypotheses"
                            ng-click="addToExercise(hypothesis)">
                            {{hypothesis.name}}
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>