<!--<div class="row">
    <div class="col-md-12">
        <img src="http://tautiset-pelit.it.helsinki.fi/images/titlebanner.png" height="200" width="1500" class="title-image">
    </div>
</div>-->

<div class="row padding-bottom-10 padding-top-20">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="center-text">Taudinpurkauspelit</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 padding-top-25">
        <button ng-if="!currentUser" uib-popover="Kirjaudu sisään tai luo uusi käyttäjätunnus pelataksesi peliä." popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
        <button ng-if="currentUser"
                uib-popover="Valitse haluamasi taudinpurkauspeli hiirellä klikkaamalla. Oikean yläreunan linkistä pääset tarkastelemaan ja muokkaamaan omia tietojasi."
                popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="separator"></div>


<div ng-if="exercisesList">


    <div class="row padding-bottom-20">
        <div class="col-md-12">
            <h2 class="center-text">Caset</h2>
        </div>
    </div>

    <div class="row padding-bottom-30">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1 padding-top-7">
                    <label for="queryName">Hakusanat</label>
                </div>
                <div class="col-md-11">
                    <input type="text"
                           name="queryName"
                           id="queryName"
                           class="form-control"
                           placeholder="Casen nimi"
                           ng-model="queryName">
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div ng-repeat="exercise in exercisesList | orderBy: 'name' | filter:{name: queryName}">
        <div class="row">

            <div ng-if="(!currentUser || (currentUser && !currentUserAdmin)) && !exercise.hidden">

                <div class="col-md-1 padding-bottom-20"></div>

                <div class="col-md-10 padding-bottom-20">
                    <button class="btn btn-default btn-lg btn-exercise-index multiline padding-top-20 padding-bottom-20"
                            ng-class="{'disabled': !currentUser}"
                            ng-click="viewExercise(exercise)">
                        {{exercise.name}}
                    </button>
                </div>

                <div class="col-md-1 padding-bottom-20"></div>

            </div>

            <div ng-if="currentUserAdmin">
                <div class="col-md-5">
                    <button class="btn btn-default"
                            ng-click="viewExercise(exercise)">
                        {{exercise.name}}
                    </button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-default"
                            ng-click="removeExercise(exercise)">
                        Poista
                    </button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-default"
                            ng-click="copyExercise(exercise)">
                        Kopioi
                    </button>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-default"
                            ng-click="toggleHiddenExercise(exercise)">
                        <span ng-if="exercise.hidden">Tee näkyväksi</span>
                        <span ng-if="!exercise.hidden">Piilota opiskelijoilta</span>
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <button class="btn btn-default"
                ng-if="currentUserAdmin"
                ng-click="newExercisePage()">
            + Luo uusi case
        </button>
    </div>
</div>

<div class="separator"></div>

<div class="row padding-top-20" ng-if="!currentUserAdmin">
    <div class="col-md-5"></div>
    <div class="col-md-2 center-text">
        <a href="http://tautiset-pelit.it.helsinki.fi/images/MikroEpinSuoritusrekisterinSeloste.pdf">Rekisteriseloste</a>
    </div>
    <div class="col-md-5"></div>
</div>
