<div class = "row">
    <div class = "col-md-8">
        <br/>
        <br/>
        <h1>Taudinpurkauspeli</h1>
    </div>
    <br/>
    <br/>
    <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Pelin kaikki caset.">Ohje</a>
    </div>
</div>
<div class = "separator"></div>


<div ng-if="exercisesList">
    <div class="row">
        <label for="queryName">Hakusanat</label>
        <div class="col-md-5">
            <input type="text"
                   name="queryName"
                   id="queryName"
                   class="form-control input"
                   placeholder="Casen nimi"
                   ng-model="queryName">

        </div>
    </div>
    <br/>

    <div ng-repeat="exercise in exercisesList | orderBy: 'name' | filter:{name: queryName}">
        <div class="row">

            <div class="col-md-5">
                <button class="btn btn-default btn-exercise"
                        ng-class="{'disabled': !currentUser}"
                        ng-if="!(!currentUserAdmin && exercise.hidden)"
                        ng-click="viewExercise(exercise)">
                    {{exercise.name}}
                </button>
            </div>

            <div class="col-md-1"
                 ng-if="currentUserAdmin">
                <button class="btn btn-default btn-exercise btn-del"
                        ng-click="removeExercise(exercise)">
                    Poista
                </button>
            </div>

            <div class="col-md-1"
                 ng-if="currentUserAdmin">
                <button class="btn btn-default btn-exercise"
                        ng-click="copyExercise(exercise)">
                    Kopioi
                </button>
            </div>

            <div class="col-md-2"
                 ng-if="currentUserAdmin">
                <button class="btn btn-default btn-exercise"
                        ng-click="toggleHiddenExercise(exercise)">
                    <span ng-if="exercise.hidden">Tee näkyväksi</span>
                    <span ng-if="!exercise.hidden">Piilota opiskelijoilta</span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-5">
        <button class="btn btn-default btn-exercise btn-save"
                ng-if="currentUserAdmin"
                ng-click="newExercisePage()">
            + Luo uusi case
        </button>
    </div>
</div>