<br/>
<br/>
<div class = "row">
    <div class = "col-md-8">
        <h1>Uuden casen luominen</h1>
    </div>

    <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Uuden casen luominen" data-content="Tällä sivulla voi luoda uuden casen.">Ohje</a>
    </div>
</div>
<div class = "separator"></div>
<br/>

<h3>Anamneesi</h3>

<!--<div class="row">
    <div class="col-md-12">
        <form novalidate name="updateExerciseAnamnesisForm">
            <div class="form-group">
                <label for="anamnesis">Anamneesi</label>
                <div text-angular="text-angular"
                     ng-model="exercise.anamnesis"
                     ng-if="exercise"
                     placeholder="Casen anamneesi"
                     name="anamnesis"
                     id="anamnesis"
                     ta-text-editor-class="form-content"
                     ta-html-editor-class="form-content"
                     ta-focussed-class="focussed">
                </div>
            </div>

            <div>
                <button ng-click="updateAnamnesis()"
                        class="btn btn-default btn-save"
                        ng-disabled="updateExerciseAnamnesisForm.$pristine">
                    Tallenna muutokset
                </button>
            </div>
        </form>

    </div>-->
</div>
