<br />

<ul class="nav nav-tabs">
    <li ng-repeat="link in links"
        id={{link.tabName}}
        role="presentation"
        class="tabLink exerciseTabLink" >
        <a ui-sref={{link.tabState}} >{{link.title}}</a>
    </li>

    <li id="CurrentTaskTab"
        role="presentation"
        ng-if="current_task"
        class="tabLink exerciseTabLink" >
        <a ng-click="goToState(current_task_show_path)" >{{taskForShow.name}} <span ui-sref="exercises_show.tasks" ng-click="removeCurrentTask()">X</span></a>
    </li>

</ul>

<br/>

<div ui-view></div>
