<div class="row">
    <div class="col-md-5">
        <h2>{{exercise.name}}</h2>
    </div>
</div>
<div class = "separator"></div>

<div ng-controller="ExerciseHypothesesController">

    <div class="row">
        <div class="col-md-5">
            <div ng-repeat="(hypothesis_group, data) in exerciseHypotheses" >
                <button class="btn btn-default btn-hypothesis multiline btn-save" >{{data[0].hypothesis.hypothesis_group.name}}</button>

                <div ng-repeat="exercise_hypothesis in data">
                    <button class="btn btn-default btn-hypothesis multiline">{{exercise_hypothesis.hypothesis.name}}</button>
                </div>

            </div>
        </div>

        <div class="col-md-2">
            <br/>
            <br/>
            <br/>
        </div>

        <div class="col-md-5">
            <div ng-repeat="(hypothesis_group, data) in hypothesisBank" >
                <button class="btn btn-default btn-hypothesis multiline btn-save" >{{data[0].hypothesis_group.name}}</button>

                <div ng-repeat="hypothesis in data">
                    <button class="btn btn-default btn-hypothesis multiline" >{{hypothesis.name}}</button>
                </div>

            </div>
        </div>
    </div>

</div>