<div class="row">
    <div class="col-md-5">
        <h2>{{exercise.name}}</h2>
    </div>
</div>
<div class = "separator"></div>

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-default btn-exercise"
                ng-click="current_tab = 1">
            Anamneesi
        </button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default btn-exercise"
                ng-click="current_tab = 2">
            Toimenpidelista
        </button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default btn-exercise"
                ng-click="current_tab = 3">
            Diffilista
        </button>
    </div>

</div>

<br/>
<div class = "separator"></div>
<br/>

<div ui-view="anamnesis" ng-show="current_tab === 1"></div>
<div ui-view="task_list" ng-show="current_tab === 2"></div>
<div ui-view="exercise_hypothesis_list" ng-show="current_tab === 3"></div>

