<div class = "row">
    <div class = "col-md-8">
        <h1>Toimenpiteet</h1>
    </div>

    <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Toimenpiteiden luominen ja järjestely" data-content="Tällä sivulla voit luoda uusia toimenpiteitä ja päätöstoimenpiteen. Kussakin casessa voi olla vain yksi päätöstoimenpide. Toimenpiteiden suoritusjärjestystä voi muokata toimenpiteen vieressä olevilla nuolilla. Samassa numeroidussa ryhmässä olevat toimenpiteet voi suorittaa valinnaisessa järjestyksessä. Ryhmät taas suoritetaan numerojärjestyksessä ykkösestä alkaen.">Ohje</a>
    </div>
</div>

<!--
    <div class="div-tasks-container-admin">

        <li class="panel panel-default panel-grey" ng-repeat="(level, tasks) in tasksList"
                dnd-draggable="tasks">
            <table>
                <tr>
                    <td class="task-level-header">{{level}}</td>
                    <td>
                        <ul dnd-list="[]" dnd-drop="moveTask(item, type, level)">
                            <div class="panel-body">
                                <div class="div-task-order-container"  ng-repeat="task in tasks">
                                    <div class="div-task-order-taskbutton">
                                        <li class="btn btn-default btn-task-order multiline"
                                            dnd-draggable="task"
                                            dnd-type="level"
                                            dnd-effect-allowed="move">
                                            {{task.name}}
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </td>
                </tr>
            </table>
        </li>

    </div>
-->

<div class="task-list">
    <div class="dropzone">
        <ul dnd-list="[]"
            dnd-drop="moveTaskToNewLevel(index, item)"
            class="list-unstyled">


            <li ng-repeat="(level, tasks) in tasksList"
                class="border padding">
                {{tasks[0]}}

                <ul  dnd-list="[]"
                     dnd-drop="moveTaskFromLevelToLevel(item, type, tasks[0])"
                     dnd-horizontal-list="true"
                     class="list-unstyled">

                    <li ng-repeat="task in tasks[1]"
                        dnd-draggable="task"
                        dnd-type="tasks[0]"
                        dnd-effect-allowed="move">
                        {{task.name}}
                    </li>

                </ul>

            </li>


        </ul>
    </div>
</div>