<div class="row padding-bottom-10">

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="center-text">Toimenpiteet</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 padding-top-25">
        <button ng-if="currentUser && !currentUserAdmin" uib-popover="Tällä sivulla voit suorittaa caseen liittyviä toimenpiteitä. Toimenpiteet voi suorittaa vain tietyssä järjestyksessä.

        Voit valita haluamasi toimenpiteen klikkaamalla sitä. Jos toimenpiteen voi suorittaa, siirryt kyseisen toimenpiteen sivulle.
        Muussa tapauksessa sinulle näytetään virheilmoitus ja voit yrittää suorittaa jonkin toisen toimenpiteen.

        Lisäksi näet sivulla suorittamistasi toimenpiteistä listan, jossa toimenpiteet on järjestetty tasoittain sen mukaan, missä järjestyksessä toimenpiteet on mahdollista suorittaa.
        Samalla tasolla olevat toimenpiteet on mahdollista suorittaa missä järjestyksessä tahansa."
                popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>

        <button ng-if="currentUserAdmin" uib-popover="Tällä sivulla voit lisätä caseen kuuluvia toimenpiteitä painamalla '+ Luo uusi toimenpide'-nappia.
        Voit muuttaa toimenpiteiden järjestystä ottamalla kiinni toimenpiteestä ja siirtämällä sen haluamallesi tasolle tai tasojen välille.
        Klikkaamalla toimenpidettä siirryt toimenpiteen sivulle, jossa voit muokata toimenpiteen ominaisuuksia."
                popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
    </div>
    <div class="col-md-1"></div>
</div>

<div class = "separator"></div>

<div ng-if="currentUserAdmin">

    <div ng-if="!hasConclusion" class="padding-top-20">
        <div class="row padding-bottom-20">
            <div class="col-md-1"></div>
            <div class="col-md-10 center-text">
                Tässä casessa ei ole vielä diagnoosi-alakohtaa. Lisää sellainen, jotta opiskelijat voivat pelata casen loppuun asti!
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="separator"></div>
    </div>


    <div class="row dnd-task-list">
        <div class="col-md-1"></div>
        <div class="dropzone col-md-10">
            <ul dnd-list="[]"
                dnd-drop="moveTaskToNewLevel(index, item)"
                class="list-unstyled">

                <li ng-repeat="(level, tasks) in tasksList"
                    class="panel panel-default dnd-item-list margin-bottom-40 margin-top-40">
                    <div class="panel-heading">
                        <div class="panel-title panel-title-task-list center-text">
                            {{tasks[0]}}
                        </div>
                    </div>
                    <div class="panel-body panel-body-task-list">
                        <ul  dnd-list="[]"
                             dnd-drop="moveTaskFromLevelToLevel(item, type, tasks[0])"
                             dnd-horizontal-list="true"
                             class="list-unstyled">

                            <li ng-repeat="task in tasks[1]"
                                dnd-draggable="task"
                                dnd-type="tasks[0]"
                                dnd-selected="goToCurrentTask(task.id)"
                                dnd-effect-allowed="move"
                                class="multiline center-text margin-left-10 margin-right-10 margin-top-10 margin-bottom-10 padding-top-25"    >
                                {{task.name}}
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button class="btn btn-default btn-lg btn-block padding-top-25 padding-bottom-25" ng-click="createTask()">+ Luo uusi toimenpide</button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


<div ng-if="currentUser && !currentUserAdmin">

    <div ng-if="!userHasCompletedExercise">
        <div class="row padding-bottom-20">
            <div class="col-md-12">
                <h2 class="center-text">Valitse suoritettava toimenpide</h2>
            </div>
        </div>

        <div class="row" ng-repeat="task in availableTasks">
            <div class="col-md-2 padding-bottom-20"></div>
            <div class="col-md-8 padding-bottom-20">

                <button class="btn btn-default btn-lg btn-uncompleted-task multiline padding-top-20 padding-bottom-20" ng-click="startTask(task)">
                    {{task.name}}
                </button>

            </div>
            <div class="col-md-2 padding-bottom-20"></div>

        </div>


        <div class="separator"></div>

    </div>

    <div class="row padding-bottom-20">
        <div class="col-md-12">
            <h2 class="center-text">Suoritetut toimenpiteet tasoittain</h2>
        </div>
    </div>


    <div class="row" ng-repeat="(level, tasks) in completedTasks" ng-if="userHasCompletedTasks(completedTasks)">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title panel-completed center-text">
                        {{tasks[0]}}
                    </div>
                </div>
                <div class="panel-body panel-completed">

                    <div ng-repeat="task in tasks[1]">

                        <div class="row padding-bottom-15">
                            <div class="col-md-12">
                                <button class="btn btn-default btn-lg btn-completed-task multiline padding-top-20 padding-bottom-20" ng-click="goToCurrentTask(task.id)">
                                    {{task.name}}
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2"></div>

    </div>

    <div class="row" ng-if="!userHasCompletedTasks(completedTasks)">
        <div class="col-md-2"></div>
        <div class="col-md-8 center-text">
            Et ole vielä suorittanut yhtään toimenpidettä.
        </div>
        <div class="col-md-2"></div>

    </div>

</div>
