<div class="row">
  <div class="col-md-9">
    <input class="btn btn-default btn-hypothesis-group btn-save" type="button" value="+ Uusi työhypoteesiryhmä" data-toggle="collapse" data-target="#collapseNewHypothesisGroup" />
    <div class="collapse" id="collapseNewHypothesisGroup">
      <%= form_for(@new_hypothesis_group) do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%= f.text_field :name, placeholder: "Nimi", :class => 'width100' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.submit :class => 'btn btn-default btn-save' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>