# OS X stuff
.DS_Store
.Spotlight-V100
.Trashes

# Thumbnails
._*
Thumbs.db

# RubyMine stuff
*/.idea/*
*.iml

# Temporary files
*~
/tmp
/spec/tmp

# Log
/log/*
!/log/.keep

# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Enviroment variables shouldn't be public
.env

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

.rspec
*.rbc
