<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">

            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button uib-popover="Näet suoritetun tehtävän sisällön tässä paneelissa."
                        popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div ta-bind="text" ng-model="subtask.task_text.content" class=" padding-bottom-20"></div>
            </div>
        </div>
    </div>
</div>