<div class="modal-header">
    <h3 class="modal-title">Uusi tekstialakohta</h3>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <form novalidate name="createTaskTextForm">
                <div class="form-group">

                    <label for="newTaskTextContent">Sisältö</label>

                    <div text-angular="text-angular"
                         ng-model="newTaskText.content"
                         ng-if="newTaskText"
                         placeholder="Sisältö"
                         name="newTaskTextContent"
                         id="newTaskTextContent"
                         required
                         ta-text-editor-class="form-content"
                         ta-html-editor-class="form-content"
                         ta-toolbar-button-class="btn btn-default btn-toolbar"
                         ta-focussed-class="focussed">
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="createTaskText()"
            ng-disabled="createTaskTextForm.$invalid || createTaskTextForm.$pristine">
        Luo
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Peruuta</button>
</div>

