<div class = "row">
    <div class = "col-md-6">
        <h1>Muokkaa tekstiä</h1>
    </div>
    <div class = "col-md-2">
        <button class="btn btn-default btn-exercise btn-del widthAuto floatRight" ng-click="deleteTaskText()">Poista tekstialakohta</button>
    </div>
    <div class = "col-md-4">
        <button class="btn btn-default btn-exercise widthAuto floatRight" ng-click="returnToTask()">Palaa toimenpiteeseen</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <form novalidate name="updateTaskTextForm">

            <div class="form-group">

                <label for="content">Sisältö</label>

                <div text-angular="text-angular"
                     ng-model="taskText.content"
                     ng-if="taskText"
                     placeholder="Sisältö"
                     name="content"
                     id="content"
                     required
                     ta-text-editor-class="form-content"
                     ta-html-editor-class="form-content"
                     ta-toolbar-button-class="btn btn-default btn-toolbar"
                     ta-focussed-class="focussed">
                </div>

            </div>

            <button class="btn btn-primary"
                    type="button"
                    ng-click="updateTaskText()"
                    ng-disabled="updateTaskTextForm.$invalid || updateTaskTextForm.$pristine">
                Päivitä
            </button>

        </form>
    </div>

</div>