<div class="row">
  <div class="col-md-4">
    <b>Vaihtoehto</b>
  </div>

  <div class="col-md-8">
    <b>Selitys</b>
  </div>

</div>

<% subtask.multichoice.options.each do |option| %>
<div class="row">
  <div class="col-md-4">
    <%= option.content %>
  </div>
  <div class="col-md-8">
    <%= image_tag option.image.picture.url(:original) unless option.image.nil? %>
    <%= option.explanation %>
  </div>
</div>
<% end %>