<div class="panel panel-default">
  <div class="panel-heading">
    <div class = "row">
      <br>
      <div class = "col-md-8">
        <h3 class="panel-title"><%= subtask.interview.title %></h3>
      </div>
      <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Pohdi mikä tai mitkä ovat mielestäsi oikeita vaihtoehtoja ja klikkaa niitä hiirellä. Vääristä valinnoista tulee virhepisteitä.">Ohje</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if current_user.has_completed?(subtask) || current_user.try(:admin) %>
        <%= render 'tasks/subtasks/completed_interview', { subtask:subtask, exercise_show_or_tab_view: parent_view} %>
    <% else %>
        <%= render 'tasks/subtasks/ask_interview', { subtask:subtask } %>
    <% end %>
  </div>
</div>

<script>
    $('[data-toggle="popover"]').popover();
</script>