<div class="panel panel-default">
  <div class="panel-heading">
    <div class = "row">
      <div class = "col-md-8">
        <h3 class="panel-title"></h3>
      </div>
      <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Muista painaa Jatka-nappia, jotta toimenpide kirjautuu suoritetuksi.">Ohje</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if @current_user.has_completed?(subtask) || @current_user.try(:admin) %>
        <%= render 'tasks/subtasks/completed_task_text', { subtask:subtask} %>
    <% else %>
        <%= render 'tasks/subtasks/ask_task_text', { subtask:subtask } %>
    <% end %>
  </div>
</div>