<div class="panel panel-default">
  <div class="panel-heading panel-heading-tasks">
    <a data-toggle="collapse" href="#collapse-available-tasks">
      <h3>Valitse suoritettava toimenpide</h3>
    </a>
  </div>
  <div id="collapse-available-tasks" class="panel-collapse collapse in">
    <div class="panel-body">
      <% @tasks.each do |task| %>
          <% if !current_user.has_completed?(task) %>
              <div class = "row">
                <div class="col-md-5">
                  <% if current_user.can_start?(task) %>
                      <%= button_to task.name, task, method: :get, :class => "btn btn-default btn-available-task", :form_class => "form-to-task-student" %>
                  <% else %>
                      <%= button_to task.name, task, method: :get, :class => "btn btn-default btn-available-task", :form_class => "form-cannot-task-student" %>
                  <% end %>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>