
<h3>Suoritetut toimenpiteet</h3>
<br />

<% @completed_tasks.each do |task| %>
    <div class="row">
      <div class="col-md-5">
        <%= button_to task.name, task, method: :get, :class => 'btn btn-default btn-completed-task', :form_class => "form-completed-task" %>
      </div>
    </div>
<% end %>
