<br />
<div class = "row">
  <div class = "col-md-8">
    <h3>Suoritetut toimenpiteet</h3>
  </div>
  <div class = "col-md-4">
    <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" title="Suoritetun toimenpiteen tarkastelu" data-content="Voit tarkastella jo suorittamiasi toimenpiteitä klikkaamalla kyseistä tehtävää.">Ohje</a>
  </div>
</div>
<br />
<% @completed_tasks.each_with_index do |task, index| %>
    <div class="row">
      <div class="col-md-5">
        <%= button_to (index + 1).to_s + ". " + task.name, task, method: :get, :class => 'btn btn-default btn-completed-task', :form_class => "form-completed-task" %>
      </div>
    </div>
<% end %>
