<div class = "div-tasks-container-admin">
  <% previous_level = 0 %>
  <% @tasks.each do |task| %>
      <div class = "div-task-order-container <% if task.level > previous_level then %> clearLeft <% end %>">
        <div class = "div-task-order-taskbutton">
          <%if !task.conclusions.empty? %>
            <%= button_to task.name, edit_conclusion_path(task.conclusions.first), method: :get, :class => 'btn btn-default btn-task-order multiline', :form_class => "form-button-to-task height100" %>
          <%else%>
          <%= button_to task.name, edit_task_path(task), method: :get, :class => 'btn btn-default btn-task-order multiline', :form_class => "form-button-to-task height100" %>
          <%end%>
        </div>
        <div class = "div-task-order-updown">
          <%= button_to 'tasks/' + task.id.to_s + '/up', method: :post, :class => 'btn btn-default btn-task-up multiline', :form_class => "height50", id: 'tasks/' + task.id.to_s + '/up' do %>
              <span class="glyphicon glyphicon-chevron-up"></span>
          <% end %>

          <%= button_to 'tasks/' + task.id.to_s + '/down', method: :post, :class => 'btn btn-default btn-task-down multiline', :form_class => "height50", id: 'tasks/' + task.id.to_s + '/down' do %>
              <span class="glyphicon glyphicon-chevron-down"></span>
          <% end %>
          <% previous_level = task.level %>
        </div>
      </div>
  <% end %>
</div>