<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= subtask.interview.title %></h3>
  </div>

  <div class="panel-body"  padding-left: 200px>
    <% subtask.interview.questions.each do |question| %>
    <div class="row">


      <div class="col-md-4 text-padding">
        <%= if !current_user_is_admin
          then render 'question_button', {question: question}
         end %>

      </div>

      <div class="col-md-4 text-padding">
          <%= question.content %>
      </div>

     </div>
   

    </div>
    <% end %>

    <%= if !current_user_is_admin then render 'continue_button'
    else
      end %>
    </div>





