<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= subtask.interview.title %></h3>
  </div>

  <div class="panel-body"  padding-left: 200px>



   <div class="row">
    <div class="col-md-4">
      <p class="panel-title"> Kysymys</h3></div>

      <div class="col-md-4">
        <p class="panel-title"> Sisältö</h3></div>
      </div>
    </div>

    <% subtask.interview.questions.each do |question| %>
    <div class="row">

      <div class="col-md-4 text-padding">
 
          <%= button_to question.title, question_path, :class => 'btn btn-default btn-save btn-new-task', :method => :get  %>
      
     </div>
     <div class="col-md-4 text-padding">
      <%= question.content %>
    </div>
  </div>
  <br />


</div>
<% end %>

<%= if !current_user_has_completed_task(@task.id) && !current_user_is_admin
  then render 'continue_button'
else
  end %>
</div>





