<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= subtask.interview.title %></h3>
  </div>

  <div class="panel-body">



    <% subtask.interview.questions.each do |question| %>
        <div class="row">


           <div class="col-md-4 text-padding">
              <% if !current_user.has_asked_question(question) %>
                <%= render 'question_button', {question: question} %>
              <% else %>

                <%= button_to question.title, question, method: :get, :class => 'btn btn-default btn-del' %>
              <%end %>
          </div>

          <!--<div class="col-md-4 text-padding">
              <#% if current_user_is_admin %>
                  <div class="col-md-4 text-padding">
                    <#%= question.content %>

                  </div>
              <#%end%>

          </div>-->

        </div>

    <% end %>

    <%= if !current_user_is_admin then render 'continue_button'
    else
    end %>

  </div>

</div>





