<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kysymys: <%= subtask.multichoice.question %></h3>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-4">

        <b>Vaihtoehto</b>
      </div>

      <div class="col-md-8">

        <b>Selitys</b>
      </div>

    </div>

    <% subtask.multichoice.options.each do |option| %>

        <div class="row">
          <div class="col-md-4">

            <%= option.content %>
          </div>

          <div class="col-md-8">

            <%= option.explanation %>
          </div>

        </div>

    <% end %>

  </div>
</div>