<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Toimenpide suoritettu!</h3>
  </div>
  <div class="panel-body">
    <p>Nyt voit mennä poissulkemaan työhypoteeseja tai suorittamaan lisää toimenpiteitä.</p>
    <div class="row">
      <div class="col-md-3">
        <%= button_to 'Työhypoteesilista', hypotheses_path, :class => 'btn btn-default widthAuto', :form_class => "form-task-completed", :form => {id: "form-open-hypotheses-tab"}, :method => :get %>
      </div>
      <div class="col-md-3">
        <%= button_to 'Toimenpidelista', tasks_path, :class => 'btn btn-default widthAuto', :form_class => "form-task-completed", :form => {id: "form-open-tasks-tab"}, :method => :get %>
      </div>
    </div>
  </div>
</div>