<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <%= subtask.task_text.content %>
  </div>
</div>

<% if (!current_user.has_completed?(subtask) || current_user_has_completed_task(@task.id)) && !current_user_is_admin %>
  <%= form_tag("/task_texts/" + subtask.task_text.id.to_s + "/check_answers", method: "post") do %>
      <%= submit_tag("Jatka", :class => "btn btn-default btn-save widthAuto") %>
  <% end %>
<% end %>