<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Toimenpide suoritettu!</h3>
  </div>
  <div class="panel-body">
    <p>Nyt voit mennä <%= " poissulkemaan diffejä tai " if (!current_exercise.has_conclusion? || (current_exercise.has_conclusion? && !current_user.has_completed?(current_exercise.get_conclusion.subtask))) %> suorittamaan lisää toimenpiteitä.</p>
    <div class="row">
      <% if (!current_exercise.has_conclusion? || (current_exercise.has_conclusion? && !current_user.has_completed?(current_exercise.get_conclusion.subtask))) %>
          <div class="col-md-3">
            <%= button_to 'Diffilista', hypotheses_path, :class => 'btn btn-default widthAuto', :form_class => "form-task-completed", :form => {id: "form-open-hypotheses-tab"}, :method => :get %>
          </div>
      <% end %>
      <div class="col-md-3">
        <%= button_to 'Toimenpidelista', tasks_path, :class => 'btn btn-default widthAuto', :form_class => "form-task-completed", :form => {id: "form-open-tasks-tab"}, :method => :get %>
      </div>
    </div>
  </div>
</div>