<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Uusi toimenpide</h1>

<%= render 'form' %>

<script>
	//save task form
  setAjaxSubmits("#currentTaskTab form", "#currentTaskTab", "post", function(){
  	alert("meni oikeeseen paikkaan");
  	loadView("/tasks", "#taskTab");
  });
</script>