<%= render 'messages/messages' %>

<h1>Uusi toimenpide</h1>

<p>Nimi: </p>
<%= render 'task_name_form' %>

<script>
    //save task form
    setAjaxSubmits("#currentTaskTab form", "#currentTaskTab", "post", function(){
        loadView("/tasks", "#taskTab");
        loadView("/hypotheses", "#hypothesisTab");
    });
</script>