<%= render 'messages/messages' %>

<h1>Uusi toimenpide</h1>

<%= render 'form' %>

<script>
	//save task form
  setAjaxSubmits("#currentTaskTab form", "#currentTaskTab", "post", function(){
  	loadView("/tasks", "#taskTab");
  });
</script>