<% if current_user_is_admin %>
  <%=link_to 'Muokkaa', edit_task_path(@task)%>
<% end %>

<h1>Toimenpide: <%= @task.name %></h1>

<% @subtasks.each do |subtask| %>
  <% if current_user.can_complete_subtask?(@task, subtask) %>
    <%= render subtask.template, { subtask:subtask } %>
  <% end %>
<% end %>