<% if current_user_is_admin %>
  <%=link_to 'Muokkaa', edit_task_path(@task)%>
<% end %>

<h1>Toimenpide: <%= @task.name %></h1>

<% @subtasks.each do |subtask| %>
  <% if current_user.can_complete_subtask?(@task, subtask) || current_user_is_admin %>
    <%= render 'tasks/subtasks/' + subtask.template, { subtask:subtask } %>
  <% end %>
<% end %>

<% if current_user_has_completed_task(@task.id) %>
  <%= render 'task_completed' %>
<% end %>