<div class="modal-header">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="modal-title center-text multiline">Lisää kysymys pohdintaan</h3>
        </div>
        <div class="col-md-2">
            <button uib-popover="Tällä lomakkeella voit lisätä pohdintaan uuden kysymyksen.
            Valitse lomakkeessa, onko kysymys pakollinen, sallittu vai väärä kysymys.
            Kysymyksen pakollisuus tarkoittaa, että opiskelijan on pakko kysyä pakollinen kysymys.
            Sallitun kysymyksen opiskelija voi kysyä, mutta hänen ei ole pakko kysyä sitä.
            Väärän kysymyksen opiskelija voi kysyä. Täytä lomakkeeseen lisäksi opiskelijalle näkyvä seliteteksti eli kysymykseen liittyvä vastaus.
            Voit lisäksi täyttää kysymykselle kysymysryhmän, johon kysymys kuuluu. Jos jätät kysymysryhmä-kentän tyhjäksi lisätään kysymys pohdintaan ilman ryhmää." popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="modal-body">

    <form class="form-horizontal" novalidate name="createQuestionForm">

        <div class="form-group has-feedback">

            <div class="col-md-2"></div>

            <div class="col-md-9">
                <h4 class="center-text">{{title.text}}</h4>
            </div>

            <div class="col-md-1"></div>

        </div>

        <div class="form-group has-feedback">

            <div class="col-md-2"></div>

            <div class="col-md-9">

                <select name="is_correct_answer"
                        class="form-control"
                        id="required"
                        ng-model="newQuestion.required"
                        ng-options="answer_type.name_en as answer_type.name_fi for answer_type in answer_types">
                </select>
            </div>

            <div class="col-md-1"></div>
        </div>


        <div class="form-group has-feedback">

            <label for="question_group_title" class="col-md-2 control-label">Kysymysryhmä</label>

            <div class="col-md-9 typeahead-col">
                <input type="text"
                       uib-typeahead="questionGroup.title for questionGroup in questionGroups | filter:$viewValue"
                       autocomplete="off"
                       typeahead-min-length="0"
                       class="form-control center-text"
                       name="question_group_title"
                       id="question_group_title"
                       placeholder="Kysymysryhmä"
                       ng-model="newQuestion.question_group_attributes.title">
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="form-group padding-top-10">

            <label for="newContent" class="col-md-2 control-label">Seliteteksti</label>

            <div class="col-md-9">
                <div text-angular
                     ng-model="newQuestion.content"
                     ng-if="newQuestion"
                     placeholder="Seliteteksti"
                     name="newContent"
                     id="newContent"
                     required>
                </div>

            </div>

            <div class="col-md-1"></div>
        </div>
    </form>

</div>

<div class="modal-footer">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <button class="btn btn-default btn-success width-100"
                    type="button"
                    ng-click="createQuestion()"
                    ng-disabled="createQuestionForm.$invalid || createQuestionForm.$pristine"
                    ng-class="{'disabled': createQuestionForm.$invalid || createQuestionForm.$pristine}">
                Lisää
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default btn-warning width-100" type="button" ng-click="cancel()">
                Peruuta
            </button>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>

