<div class="margin-top-20">

    <div class="row">
        <div class="col-md-6">
            <div class="row padding-bottom-10">
                <div class="col-md-10 center-text multiline">
                    <h3 class="margin-0 multiline">Kysymykset</h3>
                </div>
                <div class="col-md-2">
                    <button uib-popover="Vasemmalla palstalla näet tällä hetkellä caseen kuuluvat diffit.
                    Klikkaamalla diffin nimeä avautuu ikkuna, jossa voit muokata caseen liitetyn diffin selitystä ja esitietovaatimusta ja jonka kautta voit poistaa diffin casesta."
                            popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="row padding-bottom-10">
                <div class="col-md-2"></div>
                <div class="col-md-8 center-text">
                    <h3 class="margin-0 multiline">Kysymyspankit</h3>
                </div>
                <div class="col-md-2">
                    <button uib-popover="Oikealla palstalla näet kysymyspankit, joista voit valita kysymyksiä lisättäväksi pohdintaan. Voit myös lisätä kysymyspankkiin kysymyksiä tämän sivun kautta.
                    Klikkaamalla kysymyksen nimeä voit lisätä kysymyksen pohdintaan. Pohdintaan lisätyt kysymykset näkyvät kysymyspankissa himmennettyinä. 'Muokkaa'-napeista pääset muokkaamaan kysymyspankin ja kysymysten tekstejä.
                                '+ Luo uusi kysymys'- ja '+ Luo uusi kysymyspankki'-nappien avulla voit luoda uusia kysymyksiä ja kysymyspankkeja."
                            popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
                </div>
            </div>

        </div>
    </div>

    <div class="separator"></div>



    <div class="row">
        <div class="col-md-6">

            <div class="row padding-top-10">
                <div class="col-md-12">
                    <div class="panel panel-default" ng-repeat="(group, questions) in questionsByGroup">
                        <div class="panel-heading">
                            <div class="panel-title panel-completed center-text multiline">
                                {{group}}
                            </div>
                        </div>
                        <div class="panel-body panel-completed">

                            <div ng-repeat="question in questions">

                                <div class="row padding-bottom-15">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">

                                        <button class="btn btn-default width-100 multiline padding-top-10 padding-bottom-10"
                                                ng-click="updateQuestion(question)"
                                                ng-class="{'btn-success': questionIs('required', question),
                                                           'btn-warning': questionIs('allowed', question),
                                                           'btn-danger': questionIs('wrong', question)}">
                                            {{question.title.text}}
                                        </button>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="thereAreQuestionsWithoutGroup">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body panel-completed">

                            <div ng-repeat="question in questionsWithoutGroup">

                                <div class="row padding-bottom-15">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">

                                        <button class="btn btn-default width-100 multiline padding-top-10 padding-bottom-10"
                                                ng-click="updateQuestion(question)"
                                                ng-class="{'btn-success': questionIs('required', question),
                                                           'btn-warning': questionIs('allowed', question),
                                                           'btn-danger': questionIs('wrong', question)}">
                                            {{question.title.text}}
                                        </button>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6" ng-controller="BanksController" ng-if="questionsOnly">

            <div class="row padding-top-10">
                <div class="col-md-12">

                    <form>
                        <div class="form-group">
                            <select name="bankSelect" id="bankSelect"
                                    class="form-control"
                                    ng-options="bank.name for bank in banksAndTitlesList track by bank.id"
                                    ng-model="selectedBank"></select>
                        </div>
                    </form>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title panel-completed">

                                <div class="row">
                                    <div class="col-md-9 center-text multiline padding-top-7">
                                        {{selectedBank.name}}
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-default width-100 btn-success multiline padding-top-10 padding-bottom-10" type="button"
                                                ng-click="updateBank(selectedBank, setQuestions)">
                                            Muokkaa
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-body panel-completed">

                            <div class="row padding-bottom-15">
                                <div class="col-md-12">
                                    <input type="text"
                                           name="titleTextQuery"
                                           id="titleTextQuery"
                                           class="form-control input center-text"
                                           placeholder="Kysymyksen teksti"
                                           ng-model="titleTextQuery">
                                </div>
                            </div>

                            <div ng-repeat="title in selectedBank.titles | filter:{text: titleTextQuery}">

                                <div class="row padding-bottom-15">
                                    <div class="col-md-9">

                                        <button class="btn btn-default width-100 multiline padding-top-10 padding-bottom-10"
                                                ng-click="addToInterview(interview, title)"
                                                ng-disabled="belongsToInterview(title)"
                                                ng-class="{'disabled': belongsToInterview(title)}">
                                            {{title.text}}
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-default width-100 btn-success multiline padding-top-10 padding-bottom-10"
                                                ng-click="updateTitle(title, setQuestions)">
                                            Muokkaa
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row padding-bottom-15">
                                <div class="col-md-9">

                                    <button class="btn btn-default width-100 btn-success multiline padding-top-10 padding-bottom-10"
                                            ng-click="createTitle(selectedBank)">
                                        + Luo uusi kysymys
                                    </button>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-lg width-100 btn-success multiline padding-top-10 padding-bottom-10"
                            ng-click="createBank()">
                        + Luo uusi kysymyspankki
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>