<%= render 'messages/messages' %>

<h1>Muokkaa päätöstoimenpidettä</h1>

<%= render 'form' %>

<script>
    setAjaxSubmits("#currentTaskTab form", "#currentTaskTab", "post", function(){
        loadView("/tasks", "#taskTab");
    });
</script>