<%= render 'messages/messages' %>

<br/>

<div class = "row">
  <div class = "col-md-8">
    <h1>Diagnoositoimenpide</h1>
  </div>
</div>
<br/>
<%= render 'form' %>

<script>
    setAjaxSubmits("#currentTaskTab form", "#currentTaskTab", "post", function(){
        loadView("/tasks", "#taskTab");
        loadView("/hypotheses", "#hypothesisTab");
    });
</script>