<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-10">
                <h3 class="panel-title panel-title-multichoice multiline">Kysymys: {{subtask.multichoice.question}}</h3>
            </div>
            <div class="col-md-2">
                <button uib-popover="Voit tarkastella suoritetun tehtävän vastausvaihtoehtoja ja vaihtoehtoihin liittyviä selityksiä tällä sivulla.
                Valittuihin vaihtoehtoihin liittyy värikoodi, joka kertoo, oliko vaihtoehto pakollinen (vihreä väri), sallittu (keltainen väri) vai väärä (punainen väri).
                Kaikki pakolliset vaihtoehdot on pitänyt valita, jotta tehtävän on voinut suorittaa.
                Sallitut vaihtoehdot on voinut valita ja niistä on saanut lisätietoa, mutta ne eivät ole olleet pakollisia tehtävän suorituksen kannalta.
                Väärien vaihtoehtojen valitseminen on kerryttänyt virhepisteitä."
                        popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
            </div>
        </div>
    </div>
    <div class="panel-body">


        <form class="form-horizontal">
            <div class="margin-bottom-5" ng-repeat="option in options"
                 ng-class="{'correct-answer': optionIs('required', option),
                            'allowed-answer': optionIs('allowed', option),
                            'wrong-answer': optionIs('wrong', option)}">

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox padding-left-20 padding-right-20 multichoice-label padding-top-10">
                            {{option.title.text}}
                        </div>
                    </div>
                </div>

                <div class="form-group multichoice-explanation">
                    <div class="col-md-12">
                        <div ta-bind="text" ng-model="option.explanation" class="multiline padding-left-20 padding-right-20 padding-top-10 multichoice-explanation-border">
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>