<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Kysymys: {{subtask.multichoice.question}}</h3>
    </div>
    <div class="panel-body">

        <form>
            <table class = "width100">

                <tr ng-repeat="option in options">
                    <td class="multichoice" ng-class="{'correct-answer': checkedOptionsContains(option) && optionIs('required', option),
                                                       'allowed-answer': checkedOptionsContains(option) && optionIs('allowed', option),
                                                       'wrong-answer': checkedOptionsContains(option) && optionIs('wrong', option)}">

                        <input type="checkbox" ng-model="option.checked" value="option.id" id="option_{{option.id}}" ng-if="!subtask.multichoice.is_radio_button">

                        <input type="radio" ng-model="selectedRadiobuttonOption.id" ng-value="{{option.id}}" id="option_{{option.id}}" ng-if="subtask.multichoice.is_radio_button">

                        <label for="option_{{option.id}}">{{option.content}}</label>
                    </td>

                    <td class="multichoice" ta-bind="text" ng-model="option.explanation"
                        ng-if="checkedOptionsContains(option)"
                        ng-class="{'correct-answer': checkedOptionsContains(option) && optionIs('required', option),
                                   'allowed-answer': checkedOptionsContains(option) && optionIs('allowed', option),
                                   'wrong-answer': checkedOptionsContains(option) && optionIs('wrong', option)}">
                    </td>
                </tr>

            </table>
            <br />

            <input type="submit" ng-click="checkAnswers()" class="btn btn-default btn-save widthAuto" value="Tarkista" ng-if="!currentUserAdmin">

        </form>
    </div>
</div>