<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-10">
                <h3 class="panel-title panel-title-multichoice multiline">Kysymys: {{subtask.multichoice.question}}</h3>
            </div>
            <div class="col-md-2">
                <button uib-popover="Valitse mielestäsi oikea/oikeat vaihtoehdot ja paina lopuksi Tarkista-nappia suorittaaksesi tehtävän.
                Jos valinnoissasi oli virheitä, pääset valitsemaan uudet vaihtoehdot ja näet selitykset aiemmin valitsemiisi vaihtoehtoihin."
                        popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <form class="form-horizontal">
            <div class="margin-bottom-5" ng-repeat="option in options"
                 ng-class="{'correct-answer': checkedOptionsContains(option) && optionIs('required', option),
                            'allowed-answer': checkedOptionsContains(option) && optionIs('allowed', option),
                            'wrong-answer': checkedOptionsContains(option) && optionIs('wrong', option)}">

                <div class="form-group">
                   <div class="col-md-12">
                       <div class="checkbox padding-right-20 padding-top-10"
                            ng-class="{'': subtask.multichoice.is_radio_button,
                                       'padding-left-10': !subtask.multichoice.is_radio_button}">
                           <label class="multichoice-label">
                               <input type="checkbox" ng-model="option.checked" value="option.id" ng-if="!subtask.multichoice.is_radio_button">
                               <input type="radio" ng-model="selectedRadiobuttonOption.id" ng-value="{{option.id}}" ng-if="subtask.multichoice.is_radio_button">
                               {{option.content}}
                           </label>
                       </div>
                   </div>
                </div>

                <div class="form-group multichoice-explanation" ng-if="checkedOptionsContains(option)">
                    <div class="col-md-12">
                        <div ta-bind="text" ng-model="option.explanation" class="padding-top-10 multichoice-explanation-border"
                                ng-class="{'padding-left-40': subtask.multichoice.is_radio_button,
                                           'padding-left-30': !subtask.multichoice.is_radio_button}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group padding-top-20">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <input type="submit" ng-click="checkAnswers()" class="btn btn-default btn-lg" value="Tarkista" ng-if="!currentUserAdmin">
                </div>
                <div class="col-md-5"></div>
            </div>

        </form>
    </div>
</div>