<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Kysymys: {{subtask.multichoice.question}}</h3>
    </div>
    <div class="panel-body">

        {{options}}
        <form>
            <table class = "width100">

                <tr ng-repeat="option in options">
                    <td class="multichoice" ng-class="{'correct-answer': checkedOptionsContains(option) && optionIs('required', option),
                                                       'allowed-answer': checkedOptionsContains(option) && optionIs('allowed', option),
                                                       'wrong-answer': checkedOptionsContains(option) && optionIs('wrong', option)}">


                        <input type="checkbox" ng-model="option.checked" value="option.id" id="option_{{option.id}}">
                        <!--
                                          <% if subtask.multichoice.is_radio_button %>
                                              <% if @multichoice_checked_options.to_a.include? option.id.to_s and option.is_correct_answer != "wrong" %>
                                                  <%= radio_button_tag 'checked_options[]', option.id, nil, id: "checked_options_" + option.id.to_s, :checked => true %>
                                              <% else %>
                                                  <%= radio_button_tag 'checked_options[]', option.id, nil, id: "checked_options_" + option.id.to_s %>
                                              <% end %>

                                          <% else %>
                                              <% if @multichoice_checked_options.to_a.include? option.id.to_s and option.is_correct_answer != "wrong" %>
                                                  <%= check_box_tag 'checked_options[]', option.id, nil, id: "checked_options_" + option.id.to_s, :checked => true %>
                                              <% else %>
                                                  <%= check_box_tag 'checked_options[]', option.id, nil, id: "checked_options_" + option.id.to_s %>
                                              <% end %>
                                          <% end %>-->
                        <label for="option_{{option.id}}">{{option.content}}</label>


                    </td>
                    <td class = "multichoice" ta-bind="text" ng-model="option.explanation"
                        ng-class="{'correct-answer': checkedOptionsContains(option) && optionIs('required', option),
                                   'allowed-answer': checkedOptionsContains(option) && optionIs('allowed', option),
                                   'wrong-answer': checkedOptionsContains(option) && optionIs('wrong', option)}">

                    </td>
                </tr>

            </table>
            <br />

            <input type="submit" ng-click="checkAnswers()" class="btn btn-default btn-save widthAuto" value="Tarkista" ng-if="!currentUserAdmin">

        </form>
    </div>
</div>