<body ng-app="diagnoseDiseases" ng-controller="ApplicationController">

<header>

  <ul>
    <li ng-repeat="link in navigationLinksList" ng-show={{link.visibility}}><a ui-sref={{link.state}} ng-click="link.click()">{{link.title}}</a></li>

  </ul>

  <div ng-controller="AuthenticationController">
    <div ng-if="!currentUser" class="row">
      <form name="loginForm"
            ng-submit="login(credentials)" novalidate>

        <div class="col-md-3">
          <input type="text" id="username"
                 placeholder="Käyttäjätunnus"
                 ng-model="credentials.username">
        </div>

        <div class="col-md-3">
          <input type="password" id="password"
                 placeholder="Salasana"
                 ng-model="credentials.password">
        </div>

        <div class="col-md-3">
          <button type="submit"
                  id="btn-login">
            Kirjaudu sisään
          </button>
        </div>
      </form>

      <div class="col-md-3">
        <a id="btn-signup" ng-href=#/signup>Luo uusi tunnus</a>
      </div>
    </div>

    <div ng-if="currentUser" class="row">
      <div class="col-md-3">
        <button type="button" ng-click="logout()">
          Kirjaudu ulos
        </button>
      </div>
    </div>
  </div>

</header>


<main role="main">
  <article >
    <div ui-view></div>
  </article>
</main>

</body>

