<article ng-app="diagnoseDiseases">
  <div class="row">
    <div class="col-md-12">
      <div >
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ><a ng-href="#/">Taudinpurkauspeli</a></li>
          <li role="presentation" ><a ng-href="#/hypothesis_groups">Diffiryhmät</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-view></div>
</article>