<body ng-app="diagnoseDiseases" ng-controller="ApplicationController">

<header>

  <nav class="navbar navbar-default">

    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="app_root" ng-click='resetCurrentExercise()'>Taudinpurkauspeli</a>
      </div>

      <ul class="nav navbar-nav">
        <li ng-repeat="link in navigationLinksList" ng-show={{link.visibility}}><a ui-sref={{link.state}} ng-click="link.click()">{{link.title}}</a></li>
      </ul>

      <ul class="nav navbar-nav pull-right" ng-controller="AuthenticationController">

        <li ng-if="!currentUser">
          <a id="btn-signup" ng-href=#/signup>Luo uusi tunnus</a>
        </li>

        <li uib-dropdown ng-if="!currentUser" auto-close="disabled">
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Kirjaudu sisään <span class="caret"></span></a>
          <div uib-dropdown-menu class="dropdown-menu-right">

            <form name="loginForm" ng-submit="login(credentials)" novalidate>
              <div class="form-group">
                <input type="text" id="username"
                       placeholder="Käyttäjätunnus"
                       ng-model="credentials.username"
                       class="form-control">
              </div>
              <div class="form-group">
                <input type="password" id="password"
                       placeholder="Salasana"
                       ng-model="credentials.password"
                       class="form-control">
              </div>
              <div class="form-group">
                <button class="btn btn-default" type="submit" id="btn-login">
                  Kirjaudu sisään
                </button>
              </div>
            </form>
          </div>
        </li>

        <li ng-if="currentUser">
          <a href="#" ng-click="logout()">
            Kirjaudu ulos
          </a>
        </li>
      </ul>

    </div>
  </nav>
</header>

<div class="container">

  <main role="main">

    <div ui-view></div>

  </main>
</div>

</body>

