<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-10">
                <h3 class="panel-title panel-title-interview multiline">{{subtask.interview.title}}</h3>
            </div>
            <div class="col-md-2">
                <button uib-popover="Pohdi, mikä tai mitkä ovat mielestäsi oikeita vaihtoehtoja ja valitse ne klikkaamalla vaihtoehtoa hiirellä.
                Paina lopuksi Tarkista-nappia suorittaaksesi tehtävän ja tarkistaaksesi, valitsitko kaikki oikeat vaihtoehdot.
                Valittuasi vaihtoehdon näet vaihtoehtoon liittyvän selityksen. Klikkaamalla valittua vaihtoehtoa myöhemmin uudelleen voit tarkastella selitystä uudestaan."
                        popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
            </div>
        </div>

    </div>
    <div class="panel-body">

        <div class="row" ng-repeat="(group, questions) in questionsByGroup">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title panel-completed center-text">
                            {{group}}
                        </div>
                    </div>
                    <div class="panel-body panel-completed">

                        <div class="row padding-bottom-15" ng-repeat="question in questions">

                            <div class="col-md-12">

                                <button class="btn btn-default btn-lg btn-question multiline padding-top-10 padding-bottom-10"
                                        ng-if="!question.asked" ng-click="askQuestion(question)">
                                    {{question.title}}
                                </button>

                                <button class="btn btn-default btn-lg btn-question multiline padding-top-10 padding-bottom-10"
                                        ng-if="question.asked" uib-collapse ng-click="changeQuestionCollapse(question)"
                                        ng-class="{'correct-answer': questionIs('required', question),
                                                   'allowed-answer': questionIs('allowed', question),
                                                   'wrong-answer': questionIs('wrong', question)}">
                                    {{question.title}}
                                </button>

                                <div ta-bind="text" ng-model="question.content"
                                     uib-collapse="!question.collapsed" class="center-text padding-top-30 padding-bottom-20 question-answer">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body panel-completed">

                        <div class="row padding-bottom-15" ng-repeat="question in questionsWithoutGroup">
                            <div class="col-md-12">

                                <button class="btn btn-default btn-lg btn-question multiline padding-top-10 padding-bottom-10"
                                        ng-if="!question.asked" ng-click="askQuestion(question)">
                                    {{question.title}}
                                </button>

                                <button class="btn btn-default btn-lg btn-question multiline padding-top-10 padding-bottom-10"
                                        ng-if="question.asked" uib-collapse ng-click="changeQuestionCollapse(question)"
                                        ng-class="{'correct-answer': questionIs('required', question),
                                                   'allowed-answer': questionIs('allowed', question),
                                                   'wrong-answer': questionIs('wrong', question)}">
                                    {{question.title}}
                                </button>

                                <div ta-bind="text" ng-model="question.content"
                                     uib-collapse="!question.collapsed" class="center-text padding-top-30 padding-bottom-20 question-answer">
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-default btn-lg" value="Tarkista" ng-if="!currentUserAdmin" ng-click="checkAnswers()">
            </div>
            <div class="col-md-5"></div>
        </div>

    </div>
</div>