<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-10">
                <h3 class="panel-title panel-title-interview multiline">{{subtask.interview.title}}</h3>
            </div>
            <div class="col-md-2">
                <button uib-popover="Pohdi, mikä tai mitkä ovat mielestäsi oikeita vaihtoehtoja ja valitse ne klikkaamalla vaihtoehtoa hiirellä.
                Paina lopuksi 'Tarkista'-nappia suorittaaksesi tehtävän ja tarkistaaksesi, valitsitko kaikki oikeat vaihtoehdot.
                Valittuasi vaihtoehdon näet vaihtoehtoon liittyvän selityksen. Klikkaamalla valittua vaihtoehtoa myöhemmin uudelleen voit tarkastella selitystä uudestaan.
                Valittuihin vaihtoehtoihin liittyy värikoodi, joka kertoo, oliko vaihtoehto pakollinen (vihreä väri), sallittu (keltainen väri) vai väärä (punainen väri).
                Kaikki pakolliset vaihtoehdot on valittava ennen kuin tehtävän voi suorittaa painamalla 'Tarkista'-nappia.
                Sallitut vaihtoehdot voi valita ja niistä saa lisätietoa, mutta ne eivät ole pakollisia tehtävän suorituksen kannalta.
                Väärien vaihtoehtojen valitseminen kerryttää virhepisteitä."
                        popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
            </div>
        </div>

    </div>
    <div class="panel-body">

        <div class="row" ng-repeat="(group, questions) in questionsByGroup">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title panel-completed center-text">
                            {{group}}
                        </div>
                    </div>
                    <div class="panel-body panel-completed">

                        <div class="row padding-bottom-15" ng-repeat="question in questions">

                            <div class="col-md-12">

                                <button class="btn btn-default btn-lg width-100 multiline padding-top-10 padding-bottom-10"
                                        ng-if="!question.asked" ng-click="askQuestion(question)">
                                    {{question.title.text}}
                                </button>

                                <button class="btn btn-default btn-lg width-100 multiline padding-top-10 padding-bottom-10"
                                        ng-if="question.asked" uib-collapse ng-click="changeQuestionCollapse(question)"
                                        ng-class="{'btn-success': questionIs('required', question),
                                                   'btn-warning': questionIs('allowed', question),
                                                   'btn-danger': questionIs('wrong', question)}">
                                    {{question.title.text}}
                                </button>

                                <div ta-bind="text" ng-model="question.content"
                                     uib-collapse="!question.collapsed" class="multiline center-text padding-top-30 padding-bottom-20 question-answer">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row" ng-if="thereAreQuestionsWithoutGroup">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body panel-completed">

                        <div class="row padding-bottom-15" ng-repeat="question in questionsWithoutGroup">
                            <div class="col-md-12">

                                <button class="btn btn-default btn-lg width-100 multiline padding-top-10 padding-bottom-10"
                                        ng-if="!question.asked" ng-click="askQuestion(question)">
                                    {{question.title.text}}
                                </button>

                                <button class="btn btn-default btn-lg width-100 multiline padding-top-10 padding-bottom-10"
                                        ng-if="question.asked" uib-collapse ng-click="changeQuestionCollapse(question)"
                                        ng-class="{'btn-success': questionIs('required', question),
                                                   'btn-warning': questionIs('allowed', question),
                                                   'btn-danger': questionIs('wrong', question)}">
                                    {{question.title.text}}
                                </button>

                                <div ta-bind="text" ng-model="question.content"
                                     uib-collapse="!question.collapsed" class="multiline center-text padding-top-30 padding-bottom-20 question-answer">
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-default btn-success btn-lg width-100" value="Jatka" ng-if="!currentUserAdmin" ng-click="checkAnswers()">
            </div>
            <div class="col-md-5"></div>
        </div>

    </div>
</div>