<div class = "row">
    <div class = "col-md-8">
    </div>
    <div class = "col-md-4">
        <button class="btn btn-default btn-exercise widthAuto floatRight" ui-sref="exercises_show.current_task.show">Palaa toimenpiteeseen</button>
    </div>
</div>

<div class = "panel panel-default panel-grey widthAuto">
    <div class = "panel-heading panel-heading-grey">
        <div class="row">
            <div class="col-md-8">
                <h4>Pohdinta: {{interview.title}}</h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default btn-exercise btn-save widthAuto floatRight" ng-click="updateInterview(interview)">Muokkaa</button>
            </div>
        </div>
    </div>

</div>

<interview-questions></interview-questions>