
<div class="row padding-bottom-10">
    <div class="col-md-1"></div>

    <div class="col-md-9">
        <h3 class="center-text">Vastausvaihtoehdot</h3>
    </div>
    <div class="col-md-2 padding-top-15">
        <button uib-popover="Voit lisätä uuden vastausvaihtoehdon '+ Luo uusi vastausvaihtoehto'-napista. Vastausvaihtoehtoa pääset muokkaamaan klikkaamalla vastausvaihtoehdon nappia.
        Voit siirtää vastausvaihtoehtoja pakolliset-, sallitut- ja väärät-vaihtoehdot-kenttien välillä ottamalla kiinni vastausvaihtoehdosta ja raahaamalla sen haluamaasi kehttään."
                popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
    </div>

</div>

<div class="separator"></div>


<div class="options-list" ng-repeat="answer_type in answer_types">
    <div class="dropzone">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    {{answer_type.name_fi}}
                </div>
            </div>
            <div class="panel-body">

                <div class="itemlist">
                    <ul dnd-list="[]"
                        class="list-unstyled"
                        dnd-drop="moveOptionToNewType(item, answer_type.name_en)"
                        dnd-allowed-types="answer_type.allowed_types">

                        <li ng-repeat="option in options[answer_type.name_en]"
                            dnd-draggable="option"
                            dnd-type="answer_type.name_en"
                            dnd-selected="updateOption(option)"
                            dnd-effect-allowed="move">
                            {{option.content}}
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<button class="btn btn-default btn-save btn-new-task" ng-click="createOption(multichoice)">+ Luo uusi vastausvaihtoehto</button>

