<div class = "row">
    <div class = "col-md-8">
        <h3>Vastausvaihtoehdot</h3>
    </div>
</div>
<div class = "separator"></div>
<br/>


<div class="options-list">
    <div class="dropzone">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Pakolliset vaihtoehdot
                </div>
            </div>
            <div class="panel-body">

                <div class="itemlist">
                    <ul dnd-list="[]"
                        class="list-unstyled"
                        dnd-drop="moveOptionToNewType(item, 'required')"
                        dnd-allowed-types="['allowed', 'wrong']">

                        <li ng-repeat="option in options['required']"
                            dnd-draggable="option"
                            dnd-type="'required'"
                            dnd-selected="updateOption(option)"
                            dnd-effect-allowed="move">
                            {{option.content}}
                        </li>


                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="options-list">
    <div class="dropzone">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Sallitut vaihtoehdot
                </div>
            </div>
            <div class="panel-body">

                <div class="itemlist">
                    <ul dnd-list="[]"
                        class="list-unstyled"
                        dnd-drop="moveOptionToNewType(item, 'allowed')"
                        dnd-allowed-types="['required', 'wrong']">

                        <li ng-repeat="option in options['allowed']"
                            dnd-draggable="option"
                            dnd-type="'allowed'"
                            dnd-selected="updateOption(option)"
                            dnd-effect-allowed="move">
                            {{option.content}}
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="options-list">
    <div class="dropzone">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Väärät vaihtoehdot
                </div>
            </div>
            <div class="panel-body">

                <div class="itemlist">
                    <ul dnd-list="[]"
                        class="list-unstyled"
                        dnd-drop="moveOptionToNewType(item, 'wrong')"
                        dnd-allowed-types="['required', 'allowed']">

                        <li ng-repeat="option in options['wrong']"
                            dnd-draggable="option"
                            dnd-type="'wrong'"
                            dnd-selected="updateOption(option)"
                            dnd-effect-allowed="move">
                            {{option.content}}
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<button class="btn btn-default btn-save btn-new-task" ng-click="createOption(multichoice)">+ Luo uusi vastausvaihtoehto</button>

