<div class="modal-header">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="modal-title center-text">Vastausvaihtoehdon päivitys</h3>
        </div>
        <div class="col-md-2">
            <button uib-popover="Tällä lomakkeella voit päivittää vastausvaihtoehtoa.
            Voit muokata lomakkeella vastausvaihtoehdon opiskelijalle näkyvää vaihtoehdon tekstiä ja selitystä." popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="modal-body">


    <form class="form-horizontal" novalidate name="updateOptionForm">

        <div class="form-group has-feedback"
             ng-class="{'has-error': updateOptionForm.content.$invalid && updateOptionForm.content.$dirty,
                        'has-success': updateOptionForm.content.$valid && updateOptionForm.content.$touched}">

            <label for="content" class="col-md-2 control-label">Vaihtoehdon teksti</label>

            <div class="col-md-9">
                <input type="text"
                       required
                       class="form-control center-text"
                       name="content"
                       id="content"
                       placeholder="Vaihtoehdon teksti"
                       ng-model="option.content">


                <p class="help-block" ng-messages="updateOptionForm.content.$error" ng-if="!updateOptionForm.content.$pristine">
                    <span ng-message="required">Vaihtoehdon teksti on pakollinen</span>
                </p>
            </div>

            <div class="col-md-1"></div>
        </div>


        <div class="form-group padding-top-10">

            <label for="explanation" class="col-md-2 control-label">Seliteteksti</label>

            <div class="col-md-9">
                <div text-angular
                     ng-model="option.explanation"
                     ng-if="option"
                     placeholder="Seliteteksti"
                     name="explanation"
                     id="explanation"
                     required>
                </div>

            </div>

            <div class="col-md-1"></div>
        </div>
    </form>

</div>

<div class="modal-footer">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <button class="btn btn-default width-100"
                    type="button"
                    ng-click="updateOption()"
                    ng-disabled="updateOptionForm.$invalid || updateOptionForm.$pristine">
                Päivitä
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default width-100" type="button" ng-click="cancel()">
                Peruuta
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default width-100" type="button" ng-click="deleteOption()">
                Poista
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

