<!--<script type="text/ng-template" id="updateHypothesisModal.html">-->
<div class="modal-header">
    <h3 class="modal-title">Päivitä diffiä "{{hypothesis.name}}"</h3>
</div>
<div class="modal-body">
    Tähän tulee diffin "{{hypothesis.name}}" päivityslomake.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="confirmUpdate()">Päivitä</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Peruuta</button>
</div>
<!--</script>-->
