<div class="modal-header">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="modal-title center-text multiline">Muokkaa diffiä {{hypothesis.name}}</h3>
        </div>
        <div class="col-md-2">
            <button uib-popover="Tällä lomakkeella voit muokata diffin nimeä." popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

<div class="modal-body">

    <form class="form-horizontal" novalidate name="updateHypothesisForm">
        <div class="form-group has-feedback padding-top-10"
             ng-class="{'has-error': updateHypothesisForm.name.$invalid && updateHypothesisForm.name.$dirty,
                    'has-success': updateHypothesisForm.name.$valid && updateHypothesisForm.name.$touched}">

            <label for="name" class="col-md-2 control-label">Diffin nimi</label>

            <div class="col-md-9">
                <input type="text"
                       class="form-control center-text"
                       required pattern=".{3,}"
                       name="name"
                       id="name"
                       placeholder="Diffin nimi"
                       ng-model="hypothesis.name">

                <p class="help-block" ng-messages="updateHypothesisForm.name.$error" ng-if="!updateHypothesisForm.name.$pristine">
                    <span ng-message="required">Nimi on pakollinen</span>
                    <span ng-message="pattern">Nimessä on oltava vähintään 3 merkkiä</span>
                </p>
            </div>

            <div class="col-md-1"></div>
        </div>
    </form>

</div>

<div class="modal-footer">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <button class="btn btn-default width-100"
                    type="button"
                    ng-click="updateHypothesis()"
                    ng-disabled="updateHypothesisForm.$invalid || updateHypothesisForm.$pristine">
                Päivitä
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default width-100" type="button" ng-click="cancel()">
                Peruuta
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default width-100" type="button" ng-click="deleteHypothesis()">
                Poista diffi diffipankista
            </button>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

