<div class = "row">
    <div class = "col-md-8">
        <br/>
        <br/>
        <h1>Diffiryhmät</h1>
    </div>
    <br/>
    <br/>
    <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Pelin kaikki diffiryhmät.">Ohje</a>
    </div>
</div>
<div class = "separator"></div>

<div ng-if="hypothesisGroupsAndHypothesesList">
    <div class="row">
        <label for="queryName">Hakusanat</label>
        <div class="col-md-5">
            <input type="text"
                   name="queryName"
                   id="queryName"
                   class="form-control input"
                   placeholder="Diffiryhmän nimi"
                   ng-model="queryName">

        </div>
    </div>
    <br/>

    <div ng-repeat="hypothesisGroup in hypothesisGroupsAndHypothesesList | filter:{name: queryName}">
        <div class="row">

            <div class="col-md-5">
                <button class="btn btn-default btn-hypothesis">
                    {{hypothesisGroup.name}}
                </button>
            </div>

            <div class="col-md-3">
                <button class="btn btn-default btn-hypothesis btn-save"
                        ng-click="updateHypothesisGroup(hypothesisGroup)">
                    Muokkaa
                </button>
            </div>

        </div>

        <div class="row" ng-repeat="hypothesis in hypothesisGroup.hypotheses">
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <button class="btn btn-default btn-hypothesis multiline">
                    {{hypothesis.name}}
                </button>
            </div>

            <div class="col-md-2">
                <button class="btn btn-default btn-hypothesis btn-save"
                        ng-click="updateHypothesis(hypothesis)">
                    Muokkaa
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <button class="btn btn-default btn-hypothesis btn-save multiline"
                        ng-click="createHypothesis(hypothesisGroup)">
                    + Luo uusi diffi
                </button>
            </div>

        </div>

    </div>
</div>

<br/>

<div class = "separator"></div>


<div class="row">

    <div class="col-md-5">
        <button class="btn btn-default btn-hypothesis btn-save"
                ng-click="createHypothesisGroup()">
            + Luo uusi diffiryhmä
        </button>
    </div>

</div>

