<div class = "row">
    <div class = "col-md-8">
        <br/>
        <br/>
        <h1>Diffiryhmät</h1>
    </div>
    <br/>
    <br/>
    <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Pelin kaikki diffiryhmät.">Ohje</a>
    </div>
</div>
<div class = "separator"></div>

<div ng-if="hypothesisGroupsAndHypothesesList">
    <div class="row">
        <label for="queryName">Hakusanat</label>
        <div class="col-md-5">
            <input type="text"
                   name="queryName"
                   id="queryName"
                   class="form-control input"
                   placeholder="Diffiryhmän nimi"
                   ng-model="queryName">

        </div>
    </div>
    <br/>

    <div ng-repeat="hypothesisGroup in hypothesisGroupsAndHypothesesList | filter:{name: queryName}">
        <div class="row">

            <div class="col-md-5">
                <button class="btn btn-default btn-hypothesis"
                        ng-click="viewHypothesisGroup(hypothesisGroup)">
                    {{hypothesisGroup.name}}
                </button>
            </div>

            <div class="col-md-3">
                <button class="btn btn-default btn-hypothesis btn-del"
                        ng-click="deleteHypothesisGroup(hypothesisGroup)">
                    Poista
                </button>
            </div>

        </div>

        <div class="row" ng-repeat="hypothesis in hypothesisGroup.hypotheses">
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <button class="btn btn-default btn-hypothesis multiline">
                    {{hypothesis.name}}
                </button>
            </div>

            <div class="col-md-1">
                <button class="btn btn-default btn-hypothesis btn-save"
                        ng-click="updateHypothesis(hypothesis)">
                    Päivitä
                </button>
            </div>

        </div>
    </div>
</div>

<br/>

<div class = "separator"></div>

<div class="row">

    <div class="col-md-5">
        <h2>Uusi diffiryhmä</h2>
    </div>

</div>

<div class="row">
    <div class="col-md-5">
        <form novalidate name="createHypothesisGroupForm">
            <div class="form-group has-feedback"
                 ng-class="{
'has-error': createHypothesisGroupForm.name.$invalid && createHypothesisGroupForm.name.$dirty,
'has-success': createHypothesisGroupForm.name.$valid && createHypothesisGroupForm.name.$touched
}">
                <label for="name">Diffiryhmän nimi</label>
                <input type="text"
                       class="form-control"
                       required pattern=".{3,}"
                       name="name"
                       id="name"
                       placeholder="Diffiryhmän nimi"
                       ng-model="newHypothesisGroup.name">

                <p class="help-block" ng-messages="createHypothesisGroupForm.name.$error" ng-if="!createHypothesisGroupForm.name.$pristine">
                    <span ng-message="required">Nimi on pakollinen</span>
                    <span ng-message="pattern">Nimessä on oltava vähintään 3 merkkiä</span>
                </p>
            </div>

            <div>
                <button ng-click="createHypothesisGroup()"
                        class="btn btn-default btn-save"
                        ng-disabled="createHypothesisGroupForm.$invalid || createHypothesisGroupForm.$pristine">
                    Tallenna muutokset
                </button>
            </div>
        </form>

    </div>

</div>
