<div class="row">
    <div class="col-md-5">
        <h2>{{hypothesisGroup.name}}</h2>
    </div>
</div>
<div class = "separator"></div>

<div class="row">
    <div class="col-md-5">
        <h2>Muokkaa diffiryhmää</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <form novalidate name="updateHypothesisGroupForm">
            <div class="form-group has-feedback"
                 ng-class="{
'has-error': updateHypothesisGroupForm.name.$invalid && updateHypothesisGroupForm.name.$dirty,
'has-success': updateHypothesisGroupForm.name.$valid && updateHypothesisGroupForm.name.$touched
}">
                <label for="name">Diffiryhmän nimi</label>
                <input type="text"
                       class="form-control"
                       required pattern=".{3,}"
                       name="name"
                       id="name"
                       placeholder="Diffiryhmän nimi"
                       ng-model="hypothesisGroup.name">
                <p class="help-block" ng-messages="updateHypothesisGroupForm.name.$error">

                    <span ng-message="required">Nimi on pakollinen</span>
                    <span ng-message="pattern">Nimessä on oltava vähintään 3 merkkiä</span>
                </p>
            </div>

            <div>
                <button ng-click="updateHypothesisGroup()"
                        class="btn btn-default btn-save"
                        ng-disabled="updateHypothesisGroupForm.$invalid || updateHypothesisGroupForm.$pristine">
                    Tallenna muutokset
                </button>
            </div>
        </form>

    </div>
</div>