<br/>
<h1>Diffiryhmähaku</h1>

<article ng-app="hypothesisGroups">
  <article ng-controller="HypothesisGroupSearchController">
    <br/>
    <div class="search-form">
      <form>
        <label for="hypothesisGroupName">Hakusanat</label>
        <div class="input-group">
          <input type="text"
                 name="hypothesisGroupName"
                 class="form-control"
                 placeholder="Diffiryhmän nimi"
                 ng-model="hypothesisGroupName">
        <span class="input-group-btn">
        <button class="btn btn-primary"
                ng-click="search(hypothesisGroupName)">
          Etsi diffiryhmä
        </button>
        </span>
        </div>
      </form>
    </div>
    <br/>
    <div ng-if="hypothesisGroupsList">
      <div ng-repeat="hypothesisGroup in hypothesisGroupsList">
        {{hypothesisGroup.name}}
      </div>
    </div>
  </article>
</article>