<div class="panel panel-default" ng-if="correctDiagnosis">
    <div class="panel-heading">
        <h3 class="panel-title">{{subtask.conclusion.title}}</h3>
    </div>
    <div class="panel-body">

        <h4>Tehtäväsi:</h4>
        <p ta-bind="text" ng-model="subtask.conclusion.content"></p>

        <br>

        <h4>Diffilistassa jäljellä:</h4>
        <br/>

        <div class="row" ng-repeat="exerciseHypothesis in exerciseHypotheses">

            <div class="col-md-1"></div>

            <div class = "col-md-4">

                <button class="btn btn-default btn-hypothesis multiline"
                        ng-class="{'btn-checked': userHasCheckedHypothesis(exerciseHypothesis) && !hypothesisIsCorrectDiagnosis(exerciseHypothesis),
                                   'btn-save': userHasCheckedHypothesis(exerciseHypothesis) && hypothesisIsCorrectDiagnosis(exerciseHypothesis)}"
                        ng-click="checkAnswers(exerciseHypothesis)">
                    {{exerciseHypothesis.hypothesis.name}}
                </button>
            </div>

            <div class = "col-md-6">

                <div class="info-checked-hypothesis removable"
                     ng-if="(exerciseHypothesis.explanation || 
                            hypothesisIsCorrectDiagnosis(exerciseHypothesis)) && userClickedCheckedHypothesis(exerciseHypothesis)">

                    <span ng-if="hypothesisIsCorrectDiagnosis(exerciseHypothesis)">Hienoa! Selvitit oikean diagnoosin! </span>

                    <span ta-bind="text" ng-model="exerciseHypothesis.explanation"></span>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="panel panel-default" ng-if="!correctDiagnosis">
    <div class="panel-heading">
        <h3 class="panel-title">Diagnoositoimenpide</h3>
    </div>
    <div class="panel-body">

        Tähän caseen ei ole vielä asetettu oikeaa diagnoosia. Olethan yhteydessä opettajaasi asian korjaamiseksi. Kiitos!

    </div>
</div>