<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title panel-title-conclusion">{{subtask.conclusion.title}}</h3>
    </div>
    <div class="panel-body" ng-if="correctDiagnosis">
        <h3 class="center-text padding-bottom-20">Oikea diagnoosi:</h3>

        <div class="row padding-bottom-15">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <button class="btn btn-default btn-lg btn-unchecked-hypothesis multiline padding-top-10 padding-bottom-10"
                        ng-class="{'btn-correct-diagnosis': userHasCheckedHypothesis(correctDiagnosis) && hypothesisIsCorrectDiagnosis(correctDiagnosis)}"
                        uib-collapse ng-click="correctDiagnosisCollapsed = !correctDiagnosisCollapsed">
                    {{correctDiagnosis.hypothesis.name}}
                </button>


                <div uib-collapse="correctDiagnosisCollapsed" class="correct-diagnosis center-text padding-top-20">

                    <div ng-if="hypothesisIsCorrectDiagnosis(correctDiagnosis)" class="padding-bottom-20">Hienoa! Selvitit oikean diagnoosin! </div>

                    <div ta-bind="text" ng-model="correctDiagnosis.explanation" class="padding-bottom-10"></div>
                </div>

            </div>
            <div class="col-md-2"></div>

        </div>

        <div ng-if="thereAreExerciseHypotheses && checkedHypotheses">
            <h3 class="center-text padding-bottom-20">Muut poissuljetut diffit:</h3>

            <div class="row padding-bottom-15" ng-repeat="exerciseHypothesis in exerciseHypotheses" ng-if="!hypothesisIsCorrectDiagnosis(exerciseHypothesis)">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <button class="btn btn-default btn-lg btn-unchecked-hypothesis multiline padding-top-10 padding-bottom-10"
                            ng-class="{'btn-checked-hypothesis': userHasCheckedHypothesis(exerciseHypothesis) && !hypothesisIsCorrectDiagnosis(exerciseHypothesis)}"
                            ng-click="openCheckedHypothesis(exerciseHypothesis)">
                        {{exerciseHypothesis.hypothesis.name}}
                    </button>

                </div>
                <div class="col-md-2"></div>

            </div>

        </div>

    </div>
</div>