<div class="panel panel-default" ng-if="correctDiagnosis">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-10">
                <h3 class="panel-title panel-title-conclusion multiline">{{subtask.conclusion.title}}</h3>
            </div>
            <div class="col-md-2">
                <button uib-popover="Tällä sivulla tehtäväsi on selvittää casen oikea diagnoosi valitsemalla mielestäsi oikea diffi jäljellä olevista diffeistä klikkaamalla sitä.
                Jos valitsemasi diffi ei ollut casen oikea diagnoosi, näet diffiin liittyvän selityksen ja pääset valitsemaan uuden diffin. Selvitettyäsi oikean diagnoosin näet siihen liittyvän selityksen."
                        popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <h3 class="center-text">Tehtäväsi:</h3>
        <div ta-bind="text" ng-model="subtask.conclusion.content" class="center-text padding-top-10"></div>

        <h3 class="center-text padding-top-20 padding-bottom-20">Diffilistassa ovat jäljellä seuraavat diffit:</h3>

        <div class="row padding-bottom-15" ng-repeat="exerciseHypothesis in exerciseHypotheses">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <button class="btn btn-default btn-lg width-100 multiline padding-top-10 padding-bottom-10"
                        ng-class="{'btn-danger': userHasCheckedHypothesis(exerciseHypothesis) && !hypothesisIsCorrectDiagnosis(exerciseHypothesis),
                                   'btn-success': userHasCheckedHypothesis(exerciseHypothesis) && hypothesisIsCorrectDiagnosis(exerciseHypothesis)}"
                        ng-click="checkAnswers(exerciseHypothesis)">
                    {{exerciseHypothesis.hypothesis.name}}
                </button>

                <div uib-collapse="!exerciseHypothesis.collapsed" class="center-text padding-top-30 padding-bottom-20 question-answer">

                    <div ng-if="hypothesisIsCorrectDiagnosis(exerciseHypothesis)" class="padding-bottom-20">Hienoa! Selvitit oikean diagnoosin!</div>

                    <div ta-bind="text" ng-model="exerciseHypothesis.explanation" ng-if="exerciseHypothesis.explanation"></div>
                    <div ng-if="!exerciseHypothesis.explanation" class="padding-bottom-10">Tälle diffille ei ole asetettu selitystä.</div>
                </div>

            </div>
            <div class="col-md-1"></div>

        </div>

    </div>
</div>

<div class="panel panel-default" ng-if="!correctDiagnosis">
    <div class="panel-heading">
        <h3 class="panel-title panel-title-conclusion">Diagnoositoimenpide</h3>
    </div>
    <div class="panel-body">
        Tähän caseen ei ole vielä asetettu oikeaa diagnoosia. Olethan yhteydessä opettajaasi asian korjaamiseksi. Kiitos!
    </div>
</div>