<div class="modal-header">
    <h3 class="modal-title">Diagnoosi-alakohdan päivitys</h3>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <form novalidate name="updateConclusionForm">

                <div class="form-group">

                    <label for="exerciseHypothesisId">Valitse diffi casen oikeaksi diagnoosiksi</label>
                    <select name="exerciseHypothesisId" id="exerciseHypothesisId"
                            class="form-control"
                            ng-model="conclusion.exercise_hypothesis_id"
                            ng-options="exerciseHypothesis.id as exerciseHypothesis.hypothesis.name for exerciseHypothesis in exerciseHypotheses">
                    </select>
                </div>

                <div class="form-group has-feedback"
                     ng-class="{
'has-error': updateConclusionForm.title.$invalid && updateConclusionForm.title.$dirty,
'has-success': updateConclusionForm.title.$valid && updateConclusionForm.title.$touched
}">
                    <label for="title">Otsikkoteksti</label>
                    <input type="text"
                           class="form-control"
                           required pattern=".{2,}"
                           name="title"
                           id="title"
                           placeholder="Otsikkoteksti"
                           ng-model="conclusion.title">

                    <p class="help-block" ng-messages="updateConclusionForm.title.$error" ng-if="!updateConclusionForm.title.$pristine">
                        <span ng-message="required">Otsikko on pakollinen</span>
                        <span ng-message="pattern">Otsikossa on oltava vähintään 2 merkkiä</span>
                    </p>
                </div>

                <div class="form-group">

                    <label for="conclusionContent">Ohje opiskelijoille</label>

                    <div text-angular="text-angular"
                         ng-model="conclusion.content"
                         ng-if="conclusion"
                         placeholder="Ohje opiskelijoille"
                         name="conclusionContent"
                         id="conclusionContent"
                         ta-text-editor-class="form-content"
                         ta-html-editor-class="form-content"
                         ta-toolbar-button-class="btn btn-default btn-toolbar"
                         ta-focussed-class="focussed">
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="updateConclusion()"
            ng-disabled="updateConclusionForm.$invalid || updateConclusionForm.$pristine">
        Päivitä
    </button>

    <button class="btn btn-warning" type="button" ng-click="cancel()">Peruuta</button>

    <button class="btn btn-danger"
            ng-click="deleteConclusion()">
        Poista diagnoosi-alakohta
    </button>
</div>

