<article class="btn-hypothesis-group">
    <h1>Diffiryhmä</h1>
    <h2>{{hypothesisGroup.name}}</h2>

    <br/>
    <form novalidate name="updateHypothesisGroupForm">
        <div class="form-group has-feedback"
             ng-class="{
'has-error': updateHypothesisGroupForm.hypothesisGroupName.$invalid && updateHypothesisGroupForm.hypothesisGroupName.$dirty,
'has-success': updateHypothesisGroupForm.hypothesisGroupName.$valid && updateHypothesisGroupForm.hypothesisGroupName.$touched
}">
            <label for="hypothesisGroupName">Diffiryhmän nimi</label>
            <input type="text" class="form-control" required pattern=".{3,}"
                   name="hypothesisGroupName" ng-model="hypothesisGroup.name">
            <p class="help-block" ng-messages="updateHypothesisGroupForm.hypothesisGroupName.$error">

                <span ng-message="required">Nimi on pakollinen</span>
                <span ng-message="pattern">Nimessä on oltava vähitnään 3 merkkiä</span>
            </p>
        </div>

        <div>
            <button ng-click="updateHypothesisGroup()"
                    class="btn btn-lg btn-primary"
                    ng-disabled="updateHypothesisGroupForm.$invalid || updateHypothesisGroupForm.$pristine">
                Tallenna muutokset
            </button>
        </div>
    </form>

</article>