<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Toimenpide suoritettu!</h3>
    </div>
    <div class="panel-body">
        <p>Nyt voit mennä <span ng-if="!hasConclusion || !userHasCompletedConclusion">poissulkemaan diffejä tai</span> suorittamaan lisää toimenpiteitä.</p>

        <div class="row">
            <div class="col-md-3" ng-if="!hasConclusion || !userHasCompletedConclusion">
                <a ui-sref="exercises_show.hypotheses" class="btn btn-default widthAuto">Diffilista</a>
            </div>
            <div class="col-md-3">
                <a ui-sref="exercises_show.tasks" class="btn btn-default widthAuto">Toimenpidelista</a>
            </div>
        </div>
    </div>
</div>