<div class="container-fluid" ng-if="currentUserAdmin">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default panel-grey">
                <div class = "panel-heading panel-heading-grey">
                    <div class = "row">
                        <div class = "col-md-6">
                            <h4>Toimenpide: {{taskForShow.name}}</h4>
                        </div>
                        <div class= "col-md-6">
                            <button class="btn btn-default btn-save widthAuto floatRight margin-em" ng-click="updateTask(taskForShow)">Muokkaa</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <subtask-list></subtask-list>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default panel-grey">
                <div class = "panel-heading panel-heading-grey">
                    Lisää alakohta
                </div>
                <div class="panel-body">
                    <button class="btn btn-default btn-exercise btn-subtask" ng-click="createTaskText(taskForShow)">+ Teksti</button>
                    <button class="btn btn-default btn-exercise btn-subtask" ng-click="createMultichoice(taskForShow)">+ Monivalinta tai radio button</button>
                    <button class="btn btn-default btn-exercise btn-subtask" ng-click="createInterview(taskForShow)">+ Pohdinta</button>
                    <button class="btn btn-default btn-exercise btn-subtask" ng-click="createConclusion(taskForShow)" ng-disabled="hasConclusion">+ Diagnoosi</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="currentUser && !currentUserAdmin">

    <div class="row padding-bottom-10">
        <div class="col-md-12">
            <h1 class="center-text">Toimenpide: {{taskForShow.name}}</h1>
        </div>
    </div>

    <div class = "separator"></div>

    <div ng-repeat="subtask in completedSubtasks" class="padding-bottom-10">

        <completed-subtask subtask="subtask"></completed-subtask>

    </div>

    <div ng-if="!userHasCompletedTask">
        <uncompleted-subtask subtask="uncompletedSubtask" after-completion="setTask()" current-user="currentUser"></uncompleted-subtask>
    </div>

    <div ng-if="userHasCompletedTask && !userHasCompletedExercise">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <completed_task current-user="currentUser" has-conclusion="hasConclusion"></completed_task>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div ng-if="userHasCompletedExercise">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <completed_exercise></completed_exercise>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

</div>