<div class="container-fluid" ng-if="!taskText && !multichoice && !interview">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default panel-grey">
                <div class = "panel-heading panel-heading-grey">
                    <div class = "row">
                        <div class = "col-md-6">
                            <h4>Toimenpide: {{taskForShow.name}}</h4>
                        </div>
                        <div class= "col-md-6">
                            <button class="btn btn-default btn-save widthAuto floatRight margin-em" ng-click="updateTask(taskForShow)">Muokkaa</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <subtask-list></subtask-list>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default panel-grey">
                <div class = "panel-heading panel-heading-grey">
                    Lisää alakohta
                </div>
                <div class="panel-body">
                    <button class="btn btn-default btn-exercise btn-subtask" ng-click="createTaskText(taskForShow)">+ Teksti</button>
                    <button class="btn btn-default btn-exercise btn-subtask" ng-click="createMultichoice(taskForShow)">+ Monivalinta tai radio button</button>
                    <button class="btn btn-default btn-exercise btn-subtask" ng-click="createInterview(taskForShow)">+ Pohdinta</button>
                </div>
            </div>
        </div>
    </div>
</div>