<div class="modal-header">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="modal-title center-text multiline">Toimenpiteen nimen muokkaus</h3>
        </div>
        <div class="col-md-2">
            <button uib-popover="Tällä lomakkeella voit muokata toimenpiteen nimeä." popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="modal-body">

    <form class="form-horizontal" novalidate name="updateTaskForm">
        <div class="form-group has-feedback padding-top-10"
             ng-class="{'has-error': updateTaskForm.name.$invalid && updateTaskForm.name.$dirty,
                        'has-success': updateTaskForm.name.$valid && updateTaskForm.name.$touched}">

            <label for="name" class="col-md-3 control-label">Toimenpiteen nimi</label>

            <div class="col-md-8 typeahead-col">
                <input type="text"
                       uib-typeahead="name for name in taskNames | filter:$viewValue"
                       autocomplete="off"
                       typeahead-min-length="0"
                       class="form-control center-text"
                       required pattern=".{2,}"
                       name="name"
                       id="name"
                       placeholder="Toimenpiteen nimi"
                       ng-model="task.name">


                <p class="help-block" ng-messages="updateTaskForm.name.$error" ng-if="!updateTaskForm.name.$pristine">
                    <span ng-message="required">Nimi on pakollinen</span>
                    <span ng-message="pattern">Nimessä on oltava vähintään 2 merkkiä</span>
                </p>
            </div>

            <div class="col-md-1"></div>
        </div>

    </form>

</div>

<div class="modal-footer">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button class="btn btn-default btn-success width-100"
                    type="button"
                    ng-click="updateTask()"
                    ng-disabled="updateTaskForm.$invalid || updateTaskForm.$pristine"
                    ng-class="{'disabled': updateTaskForm.$invalid || updateTaskForm.$pristine}">
                Päivitä
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default btn-warning width-100" type="button" ng-click="cancel()">
                Peruuta
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-danger width-100" type="button" ng-click="deleteTask()">
                Poista toimenpide
            </button>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

