// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";


//Colors
$MediumGrey           : #dbdbdb;
$BtnExerciseBorderClr : #999;
$PaleLightGreen       : #b2dca5;
$LightGreen           : #74ad61;
$MediumGreen          : #446739;
$LightRed             : #ae6161;
$DarkRed              : #692f2f;
$DarkGreen            : #232e1e;

//These are not in palette.png and should be refactored later
$DisabledButtonText   : #666;


// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

h3{
  margin-top: 2px;
  margin-bottom: 2px
}

label {
  padding-left: 2px;
}

.navbar-collapse{
  float: left;
}



/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}







// override for the 'Home' navigation link (and other navi links)
.navbar-brand {
  font-size: inherit;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  }


.navbar-nav > .active{
   background: #eee;
   color: #000;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px; 
}
.navbar-nav > .navbar-brand:hover{
   background: #446639;
   color: #eee;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }
.navbar-nav > .active:hover{
   background: #eee;
   color: #000;
 }


.navbar{
  border-width: 0px;
  min-height: 50px;
  background-color: $DarkGreen;
}
.navbar > .container .navbar-brand, .navbar > main .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

//navbar header
.navbar-header{
  float: right;
}

//login
.login-container{

  width: 555px;  
  position: absolute;
  top: 10px;
  right: 10px;
}

.no-padding{
  margin: 0px;
  padding: 0px;
  padding-right: 3px;
}


//**************
//*   Panels   *
//**************

.panel-default{
  border-radius: 10px;
  border-width: 0px

}
.panel-heading{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-width: 0px
}
.panel-heading-tasks{
  padding: 3px 15px
}
.panel-grey{
  //background-color: #acc7a0;
  background-color: #dedede;
}
.panel-green{
  //background-color: #acc7a0;
  background-color: #c2ecb5;
}
.panel-heading-grey{
  background-color: #cacaca !important;
}

.text-padding{
  margin-left: 10px;
}

//***************
//*   Buttons   *
//***************

.btn-default{
  width: 100%;
  text-align: left;
  background-color: $MediumGrey;
  border-color: $BtnExerciseBorderClr;
  border-radius: 7px;
  margin-bottom: 5px;
  border-width: 0px;
  padding-width: 5px;
}

.disabled{
  width: 100%;
  text-align: left;
  color: $DisabledButtonText;
  background-color: $MediumGrey;
  border-color: $BtnExerciseBorderClr;
  border-radius: 7px;
  margin-bottom: 5px;
  border-width: 0px;
}

.btn-default:hover{
  background-color: $LightGreen;
  color: #fff;
}
.btn-del{
  width: auto;
  color: #fff;
  background-color: $LightRed;
}
.btn-del:hover{
  background-color: $DarkRed;
  color: #fff;
}

.btn-save, .btn-save:focus{
  background-color: $PaleLightGreen;
}

.btn-save:hover{
  background-color: $LightGreen;
  color: #fff;
}

.btn-checked{
  color: #fff;
  background-color: $LightRed;
}

.btn-checked:hover, .btn-checked:active{
  background-color: $DarkRed;
}

.btn-exercise{
  height: 45px;
}

.btn-hypothesis-group{
  //height: 30px;
  font-style: italic;
  font-weight: bold;
}


.btn-hypothesis{
  //height: 30px;
  //width: 100%;
  //margin-left: 2em;
}


.btn-available-task{
  //height: 30px;
  //width: 100%;
  //margin-left: 2em;
}

.btn-completed-task{
  background-color: $PaleLightGreen;
}

.btn-completed-task:hover{
  background-color: $LightGreen;
  color: #fff;
}

.btn-new-task{
  height: 5em;
  width: 20em;
  float: left;
  clear: left;
  margin-left: 2px;
  margin-top: 2px;
}
.btn-task-order{
  height: 100%;
  width: 20em;
}
.btn-task-down{
  height: 98%;
  margin-top: 2%;
}
.btn-task-up{
  height: 98%;
  margin-bottom: 2%;
}


//***************
//*   Inputs    *
//***************


//doesn't really do anything yet
input[type="checkbox"] {
    display:inline-block;
    width:15px;
    height:15px;
    //margin:-1px 4px 0 0;
    vertical-align:middle;
    //background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked {
    //background:url(check_radio_sheet.png) -19px top no-repeat;
}




//Layout divs
.div-task-order-container{
  float: left;
  height: 5em;
}
.div-task-order-taskbutton{
  float: left;
  height: 100%;
  padding: 2px;
}
.div-task-order-updown{
  float: left;
  height: 100%;
  padding: 2px;
}



//New anamnesis
#exercise_anamnesis{
  width: 60%;
  height: 200px;
}

//Other
.margin2em{
  margin-left: 2em;
}
.width50{
  width: 50%;
  float: left;
}
.width100{
  width: 100%;
}
.height50{
  height: 50%;
}
.height100{
  height: 100%;
}

.widthAuto{
  width: auto;
}

.floatRight{
  float: right;
}
.clearLeft{
  clear: left;
}
.multiline {
  white-space: normal;
}
.margin20px{
  margin-left: 20px;
}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  max-width: 1170px;
  margin-top: 50px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
