<div class = "row">
    <div class = "col-md-8">
        <h1>Opiskelijoiden etenemisen seuranta</h1>
    </div>
    <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Pelin käyttäjät.">Ohje</a>
    </div>
</div>
<div class = "separator"></div>

<div>
    <h3>Etsi listalta</h3>

    <div class = "row">
        <div class = "col-md-2">
            <label for="queryStartingYear" class="form-control">Aloitusvuosi</label>
        </div>
        <div class = "col-md-8">
            <input type="text"
                   name="queryStartingYear"
                   id="queryStartingYear"
                   class="form-control input"
                   placeholder="Aloitusvuosi"
                   ng-model="queryStartingYear">
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-2">
            <label for="queryCase" class="form-control">Case</label>
        </div>
        <div class = "col-md-8">
            <input type="text"
                   name="queryCase"
                   id="queryCase"
                   class="form-control input"
                   placeholder="Case"
                   ng-model="queryCase">
        </div>
    </div>

</div>

<br/>

<div class="row" ng-repeat="(index, users) in usersByCase" ng-if="!queryCase || (queryCase && index.includes(queryCase))">
    <br/>
    <div class="col-md-12">
        <h3>{{index}}</h3>
    </div>
    <div class = "col-md-12">

        <div class="panel panel-default">
            <div class="panel-body">
                <table class = "width100">
                    <colgroup>
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="user">Etunimi</th>
                        <th class="user">Sukunimi</th>
                        <th class="user">Opiskelijanumero</th>
                        <th class="user">Suoritettu</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="user in users | filter:{starting_year: queryStartingYear}">
                        <td class="user">{{user.last_name}}</td>
                        <td class="user">{{user.first_name}}</td>
                        <td class="user">{{user.student_number}}</td>
                        <td class="user">
                            <div class ="progressbar" ng-class="{'completed': user.percent_of_completed_tasks == 100}">
                                <div ng-if="user.percent_of_completed_tasks < 100" class = "progressbar progress" ng-style="{'width': 100 - user.percent_of_completed_tasks}"></div>
                            </div>
                            <span class = "progress-percent">{{user.percent_of_completed_tasks}}%</span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
