<div class="modal-header">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="modal-title center-text">Salasanan vaihto</h3>
        </div>
        <div class="col-md-2">
            <button uib-popover="Tällä lomakkeella voit vaihtaa salasanasi." popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="modal-body">

    <form class="form-horizontal" novalidate name="changePasswordForm">


        <div class="form-group has-feedback"
             ng-class="{'has-error': changePasswordForm.password.$invalid && changePasswordForm.password.$dirty,
                    'has-success': changePasswordForm.password.$valid && changePasswordForm.password.$touched}">

            <div class="col-md-1"></div>

            <label for="password" class="col-md-2 control-label">Uusi salasana</label>

            <div class="col-md-6">
                <input type="password" class="form-control center-text"
                       required
                       name="password"
                       id="password"
                       placeholder="Salasana"
                       ng-model="user.password">

                <p class="help-block" ng-messages="changePasswordForm.password.$error" ng-if="!changePasswordForm.password.$pristine">
                    <span ng-message="required">Salasana on pakollinen</span>
                </p>
            </div>

            <div class="col-md-3"></div>
        </div>


        <div class="form-group has-feedback"
             ng-class="{'has-error': changePasswordForm.password_confirmation.$invalid && changePasswordForm.password_confirmation.$dirty,
                    'has-success': changePasswordForm.password_confirmation.$valid && changePasswordForm.password_confirmation.$touched}">

            <div class="col-md-1"></div>

            <label for="password_confirmation" class="col-md-2 control-label">Salasanan vahvistus</label>

            <div class="col-md-6">
                <input type="password" class="form-control center-text"
                       required match="user.password"
                       name="password_confirmation"
                       id="password_confirmation"
                       placeholder="Salasanan vahvistus"
                       ng-model="user.password_confirmation">

                <p class="help-block" ng-messages="changePasswordForm.password_confirmation.$error" ng-if="!changePasswordForm.password_confirmation.$pristine">
                    <span ng-message="required">Salasanan vahvistus on pakollinen</span>
                    <span ng-message="match">Salasanan vahvistus ei vastaa salasanaa</span>
                </p>
            </div>

            <div class="col-md-3"></div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <button class="btn btn-default width-100"
                    type="button"
                    ng-click="changePassword()"
                    ng-disabled="changePasswordForm.$invalid || changePasswordForm.$pristine">
                Päivitä
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default width-100" type="button" ng-click="cancel()">Peruuta</button>

        </div>
        <div class="col-md-4"></div>

    </div>

</div>

