<div class = "row">
    <div class = "col-md-8">
        <br/>
        <br/>
        <h1>Opiskelijoiden seuranta</h1>
    </div>
    <br/>
    <br/>
    <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Pelin käyttäjät.">Ohje</a>
    </div>
</div>
<div class = "separator"></div>

<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class = "width100">
                <colgroup>
                    <col style="width:25%" />
                    <col style="width:25%" />
                    <col style="width:25%" />
                    <col style="width:25%" />
                </colgroup>
                <thead>
                <tr>
                    <th class="user">Etunimi <span ng-click="setOrderByAttribute('first_name')">^</span> <span ng-click="setOrderByAttribute('-first_name')">v</span></th>
                    <th class="user">Sukunimi <span ng-click="setOrderByAttribute('last_name')">^</span> <span ng-click="setOrderByAttribute('-last_name')">v</span></th>
                    <th class="user">Opiskelijanumero <span ng-click="setOrderByAttribute('student_number')">^</span> <span ng-click="setOrderByAttribute('-student_number')">v</span></th>
                    <th class="user">Sähköposti <span ng-click="setOrderByAttribute('email')">^</span> <span ng-click="setOrderByAttribute('-email')">v</span></th>
                    <th class="user">Epidemiologian kurssin aloitusvuosi <span ng-click="setOrderByAttribute('starting_year')">^</span> <span ng-click="setOrderByAttribute('-starting_year')">v</span></th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users | orderBy: orderByAttribute">
                    <td class="user">{{user.first_name}}</td>
                    <td class="user">{{user.last_name}}</td>
                    <td class="user">{{user.student_number}}</td>
                    <td class="user">{{user.email}}</td>
                    <td class="user">{{user.starting_year}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
