<div class = "row">
    <div class = "col-md-8">
        <br/>
        <br/>
        <h1>Opiskelijoiden seuranta</h1>
    </div>
    <br/>
    <br/>
    <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Pelin käyttäjät.">Ohje</a>
    </div>
</div>
<div class = "separator"></div>

<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class = "width100">
                <colgroup>
                    <col style="width:25%" />
                    <col style="width:25%" />
                    <col style="width:25%" />
                    <col style="width:25%" />
                </colgroup>
                <thead>
                <tr>
                    <th class = "user">Etunimi</th>
                    <th class = "user">Sukunimi</th>
                    <th class = "user">Opiskelijanumero</th>
                    <th class = "user">Sähköposti</th>
                    <th class = "user">Epidemiologian kurssin aloitusvuosi</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users">
                    <td class = "user">{{user.first_name}}</td>
                    <td class = "user">{{user.last_name}}</td>
                    <td class = "user">{{user.student_number}}</td>
                    <td class = "user">{{user.email}}</td>
                    <td class = "user">{{user.starting_year}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
