<br />

<ul class="nav nav-tabs">

    <li id="UsersByCaseTab"
        role="presentation"
        class="tabLink exerciseTabLink" >
        <a ui-sref="users.by_case">Opiskelijoiden eteneminen</a>
    </li>

    <li id="UsersStudentsTab"
        role="presentation"
        class="tabLink exerciseTabLink" >
        <a ui-sref="users.students">Lista kaikista opiskelijoista</a>
    </li>

    <li id="UsersTeachersTab"
        role="presentation"
        class="tabLink exerciseTabLink" >
        <a ui-sref="users.teachers">Opettajat</a>
    </li>

</ul>

<br/>

<div ui-view></div>