<div class="row padding-bottom-10 padding-top-20">
    <div class="col-md-12">
        <h1 class="center-text multiline">Uuden käyttäjätunnuksen luominen</h1>
    </div>
</div>

<div class="separator"></div>

<form class="form-horizontal" novalidate name="createUserForm">
    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.new_username.$invalid && createUserForm.new_username.$dirty,
                    'has-success': createUserForm.new_username.$valid && createUserForm.new_username.$touched}">

        <div class="col-md-1"></div>

        <label for="new_username" class="col-md-2 control-label">Käyttäjätunnus</label>

        <div class="col-md-7">
            <input type="text"
                   class="form-control center-text"
                   required pattern=".{3,}"
                   name="new_username"
                   id="new_username"
                   placeholder="Käyttäjätunnus"
                   ng-model="newUser.username">

            <p class="help-block" ng-messages="createUserForm.new_username.$error" ng-if="!createUserForm.new_username.$pristine">
                <span ng-message="required">Käyttäjätunnus on pakollinen</span>
                <span ng-message="pattern">Käyttäjätunnuksessa on oltava vähintään 3 merkkiä</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.new_password.$invalid && createUserForm.new_password.$dirty,
                    'has-success': createUserForm.new_password.$valid && createUserForm.new_password.$touched}">

        <div class="col-md-1"></div>

        <label for="new_password" class="col-md-2 control-label">Salasana</label>

        <div class="col-md-7">
            <input type="password" class="form-control center-text"
                   required
                   name="new_password"
                   id="new_password"
                   placeholder="Salasana"
                   ng-model="newUser.password">

            <p class="help-block" ng-messages="createUserForm.new_password.$error" ng-if="!createUserForm.new_password.$pristine">
                <span ng-message="required">Salasana on pakollinen</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.password_confirmation.$invalid && createUserForm.password_confirmation.$dirty,
                    'has-success': createUserForm.password_confirmation.$valid && createUserForm.password_confirmation.$touched}">

        <div class="col-md-1"></div>

        <label for="password_confirmation" class="col-md-2 control-label">Salasanan vahvistus</label>

        <div class="col-md-7">
            <input type="password" class="form-control center-text"
                   required match="newUser.password"
                   name="password_confirmation"
                   id="password_confirmation"
                   placeholder="Salasanan vahvistus"
                   ng-model="newUser.password_confirmation">

            <p class="help-block" ng-messages="createUserForm.password_confirmation.$error" ng-if="!createUserForm.password_confirmation.$pristine">
                <span ng-message="required">Salasanan vahvistus on pakollinen</span>
                <span ng-message="match">Salasanan vahvistus ei vastaa salasanaa</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.first_name.$invalid && createUserForm.first_name.$dirty,
                    'has-success': createUserForm.first_name.$valid && createUserForm.first_name.$touched}">

        <div class="col-md-1"></div>

        <label for="first_name" class="col-md-2 control-label">Etunimi</label>

        <div class="col-md-7">
            <input type="text"
                   class="form-control center-text"
                   required pattern=".{3,}"
                   name="first_name"
                   id="first_name"
                   placeholder="Etunimi"
                   ng-model="newUser.first_name">

            <p class="help-block" ng-messages="createUserForm.first_name.$error" ng-if="!createUserForm.first_name.$pristine">
                <span ng-message="required">Etunimi on pakollinen</span>
                <span ng-message="pattern">Etunimessä on oltava vähintään 3 merkkiä</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.last_name.$invalid && createUserForm.last_name.$dirty,
                    'has-success': createUserForm.last_name.$valid && createUserForm.last_name.$touched}">

        <div class="col-md-1"></div>

        <label for="last_name" class="col-md-2 control-label">Sukunimi</label>

        <div class="col-md-7">
            <input type="text"
                   class="form-control center-text"
                   required pattern=".{3,}"
                   name="last_name"
                   id="last_name"
                   placeholder="Sukunimi"
                   ng-model="newUser.last_name">

            <p class="help-block" ng-messages="createUserForm.last_name.$error" ng-if="!createUserForm.last_name.$pristine">
                <span ng-message="required">Sukunimi on pakollinen</span>
                <span ng-message="pattern">Sukunimessä on oltava vähintään 3 merkkiä</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.student_number.$invalid && createUserForm.student_number.$dirty,
                    'has-success': createUserForm.student_number.$valid && createUserForm.student_number.$touched}">

        <div class="col-md-1"></div>

        <label for="student_number" class="col-md-2 control-label">Opiskelijanumero</label>

        <div class="col-md-7">
            <input type="text"
                   class="form-control center-text"
                   required pattern="^\d{9}$"
                   name="student_number"
                   id="student_number"
                   placeholder="Opiskelijanumero"
                   ng-model="newUser.student_number">

            <p class="help-block" ng-messages="createUserForm.student_number.$error" ng-if="!createUserForm.student_number.$pristine">
                <span ng-message="required">Opiskelijanumero on pakollinen</span>
                <span ng-message="pattern">Opiskelijanumerossa on oltava 9 numeroa</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.email.$invalid && createUserForm.email.$dirty,
                    'has-success': createUserForm.email.$valid && createUserForm.email.$touched}">

        <div class="col-md-1"></div>

        <label for="email" class="col-md-2 control-label">Sähköposti</label>

        <div class="col-md-7">
            <input type="text"
                   required
                   class="form-control center-text"
                   name="email"
                   id="email"
                   placeholder="Sähköposti"
                   ng-model="newUser.email">

            <p class="help-block" ng-messages="createUserForm.email.$error" ng-if="!createUserForm.email.$pristine">
                <span ng-message="required">Sähköposti on pakollinen</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.starting_year.$invalid && createUserForm.starting_year.$dirty,
                    'has-success': createUserForm.starting_year.$valid && createUserForm.starting_year.$touched}">

        <div class="col-md-1"></div>

        <label for="starting_year" class="col-md-2 control-label">Epidemiologian kurssin aloitusvuosi</label>

        <div class="col-md-7">

            <select ng-model="newUser.starting_year"
                    class="form-control"
                    required
                    name="starting_year"
                    id="starting_year"
                    ng-options="n for n in [] | range:2000:currentYear"></select>

            <p class="help-block" ng-messages="createUserForm.starting_year.$error" ng-if="!createUserForm.starting_year.$pristine">
                <span ng-message="required">Aloitusvuosi on pakollinen</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>

    <div class="row padding-top-20">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <h3>MikroEpin pelien käyttöehdot</h3>

            <p>
                MikroEpin pelit (Bakteerien tunnistuspeli, Taudinpurkauspeli ja HarMa) ovat Helsingin yliopiston
                eläinlääketieteellisen tiedekunnan tiettyjen kurssien suorittamiseen käytettäviä digitaalisia oppimispelejä.
                Näitä kutsutaan myöhemmin tekstissä sanalla palvelut.
            </p>

            <h3>Käyttäjien tietosuoja</h3>

            <p>
                Rekisteröitymällä näissä käyttöehdoissa mainittuihin palveluihin hyväksyt palvelun käytön kannalta
                tarpeellisen tiedon tallentamisen ja käsittelyn tietosuojaselosteemme mukaisessa muodossa.
                Henkilötiedon ylläpitämisessä noudatetaan henkilötietolakia, emmekä kerää pelaamisen ja pelaajan
                opintosuorituksen kirjaamisen kannalta tarpeellisen tiedon lisäksi ylimääräistä henkilötietoa. Pelien
                pelaamisesta syntyvien henkilörekisterien avulla kurssien vastuuopettajat pystyvät antamaan
                suorituksia. Edellä mainittua tarkoitusta varten tietoja säilytetään Yliopistolain (24.7.2009/558) 44
                §:n mukaan vähintään kuuden kuukauden ajan tulosten julkistamisesta. Jos peleistä tehdään
                akateemista tutkimusta, kun opiskelijalta on saatu siihen lupa, tietoja säilytetään tutkimukseen
                tarvittava aika. Voit lukea lisää tietosuojasta palveluiden
                <a href="https://tautiset-pelit.it.helsinki.fi/images/TietosuojaselosteMikroEpinPelisuoritusrekisteri.pdf">Tietosuojaselosteesta</a>.
            </p>

            <h3>Tekijänoikeudet</h3>

            <p>
                Palvelun materiaalin, kuten tehtävien ja niihin liittyvien kuvien tekijänoikeudet kuuluvat Helsingin
                yliopistolle tai materiaalin tuottaneille henkilöille, ellei toisin mainita.
                Tiedon ajantasaisuus ja lainmukaisuus
                Käyttäjä vastaa ilmoittamiensa tietojen oikeellisuudesta (tietojen päivittäminen onnistuu suoraan
                palvelusta käsin). Opintosuoritukset kirjataan palveluun ilmoitettujen tietojen pohjalta, eikä HY ole
                vastuussa väärin ilmoitettujen henkilötietojen johdosta kirjaamatta jääneistä opintosuorituksista.
            </p>

            <h3>Voimassaolo ja sovellettava laki</h3>

            <p>
                Nämä ehdot tulevat voimaan käyttäjän hyväksyessä käyttöehdot palveluun rekisteröitymisen yhteydessä.
                Käyttäjä voi milloin tahansa lopettaa palveluiden käytön poistamalla käyttäjätilinsä palvelusta (tai
                pyytämällä tätä palveluiden vastuuopettajilta).
                Palveluihin sekä näihin käyttöehtoihin sovelletaan Suomen lakia.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row padding-top-20">
        <div class="col-md-3"></div>
        <div class="col-md-7 center-text">
            <a href="https://tautiset-pelit.it.helsinki.fi/images/TietosuojaselosteMikroEpinPelisuoritusrekisteri.pdf">Tietosuojaseloste</a> |
            <a href="https://tautiset-pelit.it.helsinki.fi/images/TietosuojailmoitusMikroEpinPelisuoritusrekisteri.pdf">Tietosuojailmoitus</a>
        </div>
        <div class="col-md-2"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.accept_licence_agreement.$invalid && createUserForm.accept_licence_agreement.$dirty,
                    'has-success': createUserForm.accept_licence_agreement.$valid && createUserForm.accept_licence_agreement.$touched}">

        <div class="col-md-1"></div>

        <label for="accept_licence_agreement" class="col-md-2 control-label">Hyväksyn käyttöehdot</label>

        <div class="col-md-7">

            <input type="checkbox"
                   ng-model="newUser.accept_licence_agreement"
                   name="accept_licence_agreement"
                   id="accept_licence_agreement"
                   class="big-checkbox"
                   required>

            <p class="help-block" ng-messages="createUserForm.accept_licence_agreement.$error" ng-if="!createUserForm.accept_licence_agreement.$pristine">
                <span ng-message="required">Voidaksesi käyttää palvelua sinun on hyväksyttävä käyttöehdot</span>
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>

    <div class="form-group has-feedback">

        <div class="col-md-1"></div>

        <label for="accept_academic_research" class="col-md-5 control-label">Hyväksyn pelaamiseeni liittyvien tietojen käyttämisen tutkimukseen</label>

        <div class="col-md-4">

            <input type="checkbox"
                   ng-model="newUser.accept_academic_research"
                   name="accept_academic_research"
                   id="accept_academic_research"
                   class="big-checkbox">
        </div>

        <div class="col-md-2"></div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-default btn-success"  ng-click="createUser()" ng-disabled="createUserForm.$invalid || createUserForm.$pristine"
                    ng-class="{'disabled': createUserForm.$invalid || createUserForm.$pristine}">
                Tallenna
            </button>
        </div>
    </div>
</form>
