<div class="row padding-bottom-10 padding-top-20">
    <div class="col-md-12">
        <h1 class="center-text multiline">Uuden käyttäjätunnuksen luominen</h1>
    </div>
</div>

<div class="separator"></div>

<form class="form-horizontal" novalidate name="createUserForm">
    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.username.$invalid && createUserForm.username.$dirty,
                    'has-success': createUserForm.username.$valid && createUserForm.username.$touched}">

        <div class="col-md-1"></div>

        <label for="username" class="col-md-2 control-label">Käyttäjätunnus</label>

        <div class="col-md-6">
            <input type="text"
                   class="form-control center-text"
                   required pattern=".{3,}"
                   name="username"
                   id="username"
                   placeholder="Käyttäjätunnus"
                   ng-model="newUser.username">

            <p class="help-block" ng-messages="createUserForm.username.$error" ng-if="!createUserForm.username.$pristine">
                <span ng-message="required">Käyttäjätunnus on pakollinen</span>
                <span ng-message="pattern">Käyttäjätunnuksessa on oltava vähintään 3 merkkiä</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.password.$invalid && createUserForm.password.$dirty,
                    'has-success': createUserForm.password.$valid && createUserForm.password.$touched}">

        <div class="col-md-1"></div>

        <label for="password" class="col-md-2 control-label">Salasana</label>

        <div class="col-md-6">
            <input type="password" class="form-control center-text"
                   required
                   name="password"
                   id="password"
                   placeholder="Salasana"
                   ng-model="newUser.password">

            <p class="help-block" ng-messages="createUserForm.password.$error" ng-if="!createUserForm.password.$pristine">
                <span ng-message="required">Salasana on pakollinen</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.password_confirmation.$invalid && createUserForm.password_confirmation.$dirty,
                    'has-success': createUserForm.password_confirmation.$valid && createUserForm.password_confirmation.$touched}">

        <div class="col-md-1"></div>

        <label for="password_confirmation" class="col-md-2 control-label">Salasanan vahvistus</label>

        <div class="col-md-6">
            <input type="password" class="form-control center-text"
                   required match="newUser.password"
                   name="password_confirmation"
                   id="password_confirmation"
                   placeholder="Salasanan vahvistus"
                   ng-model="newUser.password_confirmation">

            <p class="help-block" ng-messages="createUserForm.password_confirmation.$error" ng-if="!createUserForm.password_confirmation.$pristine">
                <span ng-message="required">Salasanan vahvistus on pakollinen</span>
                <span ng-message="match">Salasanan vahvistus ei vastaa salasanaa</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.first_name.$invalid && createUserForm.first_name.$dirty,
                    'has-success': createUserForm.first_name.$valid && createUserForm.first_name.$touched}">

        <div class="col-md-1"></div>

        <label for="first_name" class="col-md-2 control-label">Etunimi</label>

        <div class="col-md-6">
            <input type="text"
                   class="form-control center-text"
                   required pattern=".{3,}"
                   name="first_name"
                   id="first_name"
                   placeholder="Etunimi"
                   ng-model="newUser.first_name">

            <p class="help-block" ng-messages="createUserForm.first_name.$error" ng-if="!createUserForm.first_name.$pristine">
                <span ng-message="required">Etunimi on pakollinen</span>
                <span ng-message="pattern">Etunimessä on oltava vähintään 3 merkkiä</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.last_name.$invalid && createUserForm.last_name.$dirty,
                    'has-success': createUserForm.last_name.$valid && createUserForm.last_name.$touched}">

        <div class="col-md-1"></div>

        <label for="last_name" class="col-md-2 control-label">Sukunimi</label>

        <div class="col-md-6">
            <input type="text"
            class="form-control center-text"
            required pattern=".{3,}"
            name="last_name"
            id="last_name"
            placeholder="Sukunimi"
            ng-model="newUser.last_name">

            <p class="help-block" ng-messages="createUserForm.last_name.$error" ng-if="!createUserForm.last_name.$pristine">
                <span ng-message="required">Sukunimi on pakollinen</span>
                <span ng-message="pattern">Sukunimessä on oltava vähintään 3 merkkiä</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>


    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.student_number.$invalid && createUserForm.student_number.$dirty,
                    'has-success': createUserForm.student_number.$valid && createUserForm.student_number.$touched}">

        <div class="col-md-1"></div>

        <label for="student_number" class="col-md-2 control-label">Opiskelijanumero</label>

        <div class="col-md-6">
            <input type="text"
                   class="form-control center-text"
                   required pattern="^\d{9}$"
                   name="student_number"
                   id="student_number"
                   placeholder="Opiskelijanumero"
                   ng-model="newUser.student_number">

            <p class="help-block" ng-messages="createUserForm.student_number.$error" ng-if="!createUserForm.student_number.$pristine">
                <span ng-message="required">Opiskelijanumero on pakollinen</span>
                <span ng-message="pattern">Opiskelijanumerossa on oltava 9 numeroa</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.email.$invalid && createUserForm.email.$dirty,
                    'has-success': createUserForm.email.$valid && createUserForm.email.$touched}">

        <div class="col-md-1"></div>

        <label for="email" class="col-md-2 control-label">Sähköposti</label>

        <div class="col-md-6">
            <input type="text"
                   required
                   class="form-control center-text"
                   name="email"
                   id="email"
                   placeholder="Sähköposti"
                   ng-model="newUser.email">

            <p class="help-block" ng-messages="createUserForm.email.$error" ng-if="!createUserForm.email.$pristine">
                <span ng-message="required">Sähköposti on pakollinen</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.starting_year.$invalid && createUserForm.starting_year.$dirty,
                    'has-success': createUserForm.starting_year.$valid && createUserForm.starting_year.$touched}">

        <div class="col-md-1"></div>

        <label for="starting_year" class="col-md-2 control-label">Epidemiologian kurssin aloitusvuosi</label>

        <div class="col-md-6">

            <select ng-model="newUser.starting_year"
                    class="form-control"
                    required
                    name="starting_year"
                    id="starting_year"
                    ng-options="n for n in [] | range:2000:currentYear"></select>

            <p class="help-block" ng-messages="createUserForm.starting_year.$error" ng-if="!createUserForm.starting_year.$pristine">
                <span ng-message="required">Aloitusvuosi on pakollinen</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': createUserForm.accept_licence_agreement.$invalid && createUserForm.accept_licence_agreement.$dirty,
                    'has-success': createUserForm.accept_licence_agreement.$valid && createUserForm.accept_licence_agreement.$touched}">

        <div class="col-md-1"></div>

        <label for="starting_year" class="col-md-2 control-label">Hyväksyn käyttöehdot</label>

        <div class="col-md-6">

            <input type="checkbox"
                   ng-model="newUser.accept_licence_agreement"
                   name="accept_licence_agreement"
                   id="accept_licence_agreement"
                   class="form-control"
                   required>

            <p class="help-block" ng-messages="createUserForm.accept_licence_agreement.$error" ng-if="!createUserForm.accept_licence_agreement.$pristine">
                <span ng-message="required">Voidaksesi käyttää palvelua sinun on hyväksyttävä käyttöehdot</span>
            </p>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-default btn-success"  ng-click="createUser()" ng-disabled="createUserForm.$invalid || createUserForm.$pristine"
                    ng-class="{'disabled': createUserForm.$invalid || createUserForm.$pristine}">
                Tallenna
            </button>
        </div>
    </div>
</form>
