<div class="row padding-bottom-10 padding-top-20">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="center-text">Kaikki opiskelijat</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 padding-top-25">
        <button uib-popover="Tällä sivulla näet kaikki opiskelijat.
        Voit etsiä listalta opiskelijoilla kirjoittamalla hakukenttiin hakusanoja. Voit järjestää opiskelijalistat etunimen, sukunimen, opiskelijanumeron,
        sähköpostin tai epidemiologian kurssin aloitusvuoden mukaan klikkaamalla taulukon sarakkeiden otsikkoja."
                popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="separator"></div>


<div class="padding-top-20">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <colgroup>
                        <col style="width:20%" />
                        <col style="width:20%" />
                        <col style="width:20%" />
                        <col style="width:25%" />
                        <col style="width:15%" />

                    </colgroup>
                    <thead>
                    <tr>
                        <th class="clickable" ng-click="setOrderByAttributes('first_name')">Etunimi <span class="sortorder" ng-show="orderByAttributes[0] === 'first_name'" ng-class="{reverse:reverse}"></span></th>
                        <th class="clickable" ng-click="setOrderByAttributes('last_name')">Sukunimi <span class="sortorder" ng-show="orderByAttributes[0] === 'last_name'" ng-class="{reverse:reverse}"></span></th>
                        <th class="clickable" ng-click="setOrderByAttributes('student_number')">Opiskelijanumero <span class="sortorder" ng-show="orderByAttributes[0] === 'student_number'" ng-class="{reverse:reverse}"></span></th>
                        <th class="clickable" ng-click="setOrderByAttributes('email')">Sähköposti <span class="sortorder" ng-show="orderByAttributes[0] === 'email'" ng-class="{reverse:reverse}"></span></th>
                        <th class="clickable" ng-click="setOrderByAttributes('starting_year')">Aloitusvuosi <span class="sortorder" ng-show="orderByAttributes[0] === 'starting_year'" ng-class="{reverse:reverse}"></span></th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text"
                                   name="queryFirstName"
                                   id="queryFirstName"
                                   class="form-control input"
                                   placeholder="Etunimi"
                                   ng-model="queryFirstName">
                        </th>
                        <th>
                            <input type="text"
                                   name="queryLastName"
                                   id="queryLastName"
                                   class="form-control input"
                                   placeholder="Sukunimi"
                                   ng-model="queryLastName">
                        </th>
                        <th>
                            <input type="text"
                                   name="queryStudentNumber"
                                   id="queryStudentNumber"
                                   class="form-control input"
                                   placeholder="Opiskelijanumero"
                                   ng-model="queryStudentNumber">
                        </th>
                        <th>
                            <input type="text"
                                   name="queryEmail"
                                   id="queryEmail"
                                   class="form-control input"
                                   placeholder="Sähköposti"
                                   ng-model="queryEmail">
                        </th>
                        <th>
                            <input type="text"
                                   name="queryStartingYear"
                                   id="queryStartingYear"
                                   class="form-control input"
                                   placeholder="Aloitusvuosi"
                                   ng-model="queryStartingYear">
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="user in users | orderBy: orderByAttributes:reverse |
                filter:{first_name: queryFirstName, last_name: queryLastName, student_number: queryStudentNumber, email: queryEmail, starting_year: queryStartingYear}">
                        <td class="clickable" ng-click="viewUser(user)">{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.student_number}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.starting_year}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>