<div class="modal-header">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="modal-title center-text multiline">Käyttöehdot ja tietosuojaselosteet</h3>
        </div>
        <div class="col-md-2">
            <button uib-popover="Tällä lomakkeella voit hyväksyä tai hylätä sovelluksen käyttöehdot." popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

<div class="modal-body">


    <div class="row padding-top-20">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="licence-information">
                <h3>MikroEpin pelien käyttöehdot</h3>

                <p>
                    MikroEpin pelit (Bakteerien tunnistuspeli, Taudinpurkauspeli ja HarMa) ovat Helsingin yliopiston
                    eläinlääketieteellisen tiedekunnan tiettyjen kurssien suorittamiseen käytettäviä digitaalisia oppimispelejä.
                    Näitä kutsutaan myöhemmin tekstissä sanalla palvelut.
                </p>

                <h3>Käyttäjien tietosuoja</h3>

                <p>
                    Rekisteröitymällä näissä käyttöehdoissa mainittuihin palveluihin hyväksyt palvelun käytön kannalta
                    tarpeellisen tiedon tallentamisen ja käsittelyn tietosuojaselosteemme mukaisessa muodossa.
                    Henkilötiedon ylläpitämisessä noudatetaan henkilötietolakia, emmekä kerää pelaamisen ja pelaajan
                    opintosuorituksen kirjaamisen kannalta tarpeellisen tiedon lisäksi ylimääräistä henkilötietoa. Pelien
                    pelaamisesta syntyvien henkilörekisterien avulla kurssien vastuuopettajat pystyvät antamaan
                    suorituksia. Edellä mainittua tarkoitusta varten tietoja säilytetään Yliopistolain (24.7.2009/558) 44
                    §:n mukaan vähintään kuuden kuukauden ajan tulosten julkistamisesta. Jos peleistä tehdään
                    akateemista tutkimusta, kun opiskelijalta on saatu siihen lupa, tietoja säilytetään tutkimukseen
                    tarvittava aika. Voit lukea lisää tietosuojasta palveluiden
                    <a href="https://tautiset-pelit.it.helsinki.fi/images/TietosuojaselosteMikroEpinPelisuoritusrekisteri.pdf">Tietosuojaselosteesta</a>.
                </p>

                <h3>Tekijänoikeudet</h3>

                <p>
                    Palvelun materiaalin, kuten tehtävien ja niihin liittyvien kuvien tekijänoikeudet kuuluvat Helsingin
                    yliopistolle tai materiaalin tuottaneille henkilöille, ellei toisin mainita.
                    Tiedon ajantasaisuus ja lainmukaisuus
                    Käyttäjä vastaa ilmoittamiensa tietojen oikeellisuudesta (tietojen päivittäminen onnistuu suoraan
                    palvelusta käsin). Opintosuoritukset kirjataan palveluun ilmoitettujen tietojen pohjalta, eikä HY ole
                    vastuussa väärin ilmoitettujen henkilötietojen johdosta kirjaamatta jääneistä opintosuorituksista.
                </p>

                <h3>Voimassaolo ja sovellettava laki</h3>

                <p>
                    Nämä ehdot tulevat voimaan käyttäjän hyväksyessä käyttöehdot palveluun rekisteröitymisen yhteydessä.
                    Käyttäjä voi milloin tahansa lopettaa palveluiden käytön poistamalla käyttäjätilinsä palvelusta (tai
                    pyytämällä tätä palveluiden vastuuopettajilta).
                    Palveluihin sekä näihin käyttöehtoihin sovelletaan Suomen lakia.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>


    <div class="row padding-top-20">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="licence-information">
                <h3>Taudinpurkauspelin pelaamisesta tehtävästä tutkimuksesta</h3>

                <p>
                    Mikrobiologian ja epidemiologian oppiaineessa tehdään digitaaliseen oppimiseen liittyvää tutkimusta. Taudinpurkauspelissä on
                    tavoitteena harjoitella johdonmukaisesti etenevää taudinpurkauksen selvitysprosessia. Sen pelaamiseen liittyvällä
                    tutkimuksella on useampia tavoitteita: (1) tutkia pelin vaikutusta oppimiseen,
                    (2) oppia ottamaan oppijoiden yksilölliset erot paremmin huomioon ja reagoimaan niihin tarjoten kohdennetumpaa opetusta,
                    (3) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä
                    (4) tukea tutkimustiedon kautta muita oppimateriaalien kehittäjiä ja oppimisen tutkijoita.
                </p>

                <p>
                    Peliä pelatessa pelitiedot tallentuvat automaattisesti. Nämä liittyvät pelissä etenemiseen. Lisäksi pelaaja
                    täyttää osaamista kartoittavan kyselomakkeen (e-lomake) ennen ja jälkeen pelaamisen.
                    Kyselylomakkeen tiedot tallennetaan pelitietojen yhteyteen.
                </p>

                <p>
                    Työskentelystä ja kyselylomakkeella kerättyä tietoa käytetään tutkimuksessa, jos sallit. Tutkimuksemme päätavoitteena
                    on osaamisen kehittymisen arviointi tekemisen arvioinnin sijaan, mikä mahdollistaisi yksilöllistä osaamista edistävien
                    tehtävien tarjoamisen. Tutkimustuloksista ei pystytä tunnistamaan yksittäisiä opiskelijoita.
                    Jos et salli kurssin aikana kerättyjen tietojen käyttämistä tutkimuksessa, siitä ei tule minkäänlaisia
                    seuraamuksia, eikä se vaikuta loppuarvosanaan.
                </p>

                <p>
                    Tutkimusdatan hallinnasta vastaa Helsingin yliopiston eläinlääketieteellisen tiedekunnan dosentti Anna-Maija Virtala
                    sekä tietojenkäsittelytieteen osaston Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan
                    tutkimusdataan eivät pääse käsiksi muut tutkijat.
                </p>

                <h3>Pelimateriaalin tekijät ja lisenssi</h3>

                <p>
                    Pelimateriaalia ovat tehneet Anna-Maija Virtala ja Heli I Koskinen. Pelin sisältöön ovat vaikuttaneet ja
                    vaikuttavat myös Joanna Koort, Tanja Lähteinen ja Kristiina Suominen. Peliympäristöä on kehittänyt:
                    Eveliina Pakarinen. Siihen ovat vaikuttaneet myös: Jimi Welling, Dani Nummikoski, Tarja Holopainen ja Jouko Niinimäki.
                </p>

                <p>
                    Taudinpurkauspelin lähdekoodi on lisensoitu avoimen lähdekoodin lisenssillä. Materiaalien käyttö
                    kaupalliseen tarkoitukseen on kielletty. Voit osallistua kurssimateriaalin parantamiseen myös itse.
                    Opintojakson Moodlesivulla on Presemo linkki, jonka kautta pääset ehdottamaan muutoksia.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>


</div>

<div class="modal-footer">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-default btn-warning width-100" type="button" ng-click="cancel()">
                Peruuta
            </button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

