<div class="modal-header">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="modal-title center-text multiline">Käyttöehdot ja tietosuojaselosteet</h3>
        </div>
        <div class="col-md-2">
            <button uib-popover="Tällä lomakkeella voit hyväksyä tai hylätä sovelluksen käyttöehdot." popover-trigger="'outsideClick'" popover-placement="auto bottom-right" type="button" class="btn btn-default width-100">Ohje</button>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

<div class="modal-body">

    <form class="form-horizontal" novalidate name="updateAgreementForm">


        <div class="row padding-top-20">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>MikroEpin pelien käyttöehdot</h3>

                <p>
                    MikroEpin pelit (Bakteerien tunnistuspeli, Taudinpurkauspeli ja HarMa) ovat Helsingin yliopiston
                    eläinlääketieteellisen tiedekunnan tiettyjen kurssien suorittamiseen käytettäviä digitaalisia oppimispelejä.
                    Näitä kutsutaan myöhemmin tekstissä sanalla palvelut.
                </p>

                <h3>Käyttäjien tietosuoja</h3>

                <p>
                    Rekisteröitymällä näissä käyttöehdoissa mainittuihin palveluihin hyväksyt palvelun käytön kannalta
                    tarpeellisen tiedon tallentamisen ja käsittelyn tietosuojaselosteemme mukaisessa muodossa.
                    Henkilötiedon ylläpitämisessä noudatetaan henkilötietolakia, emmekä kerää pelaamisen ja pelaajan
                    opintosuorituksen kirjaamisen kannalta tarpeellisen tiedon lisäksi ylimääräistä henkilötietoa. Pelien
                    pelaamisesta syntyvien henkilörekisterien avulla kurssien vastuuopettajat pystyvät antamaan
                    suorituksia. Edellä mainittua tarkoitusta varten tietoja säilytetään Yliopistolain (24.7.2009/558) 44
                    §:n mukaan vähintään kuuden kuukauden ajan tulosten julkistamisesta. Jos peleistä tehdään
                    akateemista tutkimusta, kun opiskelijalta on saatu siihen lupa, tietoja säilytetään tutkimukseen
                    tarvittava aika. Voit lukea lisää tietosuojasta palveluiden
                    <a href="https://tautiset-pelit.it.helsinki.fi/images/TietosuojaselosteMikroEpinPelisuoritusrekisteri.pdf">Tietosuojaselosteesta</a>.
                </p>

                <h3>Tekijänoikeudet</h3>

                <p>
                    Palvelun materiaalin, kuten tehtävien ja niihin liittyvien kuvien tekijänoikeudet kuuluvat Helsingin
                    yliopistolle tai materiaalin tuottaneille henkilöille, ellei toisin mainita.
                    Tiedon ajantasaisuus ja lainmukaisuus
                    Käyttäjä vastaa ilmoittamiensa tietojen oikeellisuudesta (tietojen päivittäminen onnistuu suoraan
                    palvelusta käsin). Opintosuoritukset kirjataan palveluun ilmoitettujen tietojen pohjalta, eikä HY ole
                    vastuussa väärin ilmoitettujen henkilötietojen johdosta kirjaamatta jääneistä opintosuorituksista.
                </p>

                <h3>Voimassaolo ja sovellettava laki</h3>

                <p>
                    Nämä ehdot tulevat voimaan käyttäjän hyväksyessä käyttöehdot palveluun rekisteröitymisen yhteydessä.
                    Käyttäjä voi milloin tahansa lopettaa palveluiden käytön poistamalla käyttäjätilinsä palvelusta (tai
                    pyytämällä tätä palveluiden vastuuopettajilta).
                    Palveluihin sekä näihin käyttöehtoihin sovelletaan Suomen lakia.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>


        <div class="row padding-top-20">
            <div class="col-md-1"></div>
            <div class="col-md-10 center-text">
                <a href="https://tautiset-pelit.it.helsinki.fi/images/TietosuojaselosteMikroEpinPelisuoritusrekisteri.pdf">Tietosuojaseloste</a> |
                <a href="https://tautiset-pelit.it.helsinki.fi/images/TietosuojailmoitusMikroEpinPelisuoritusrekisteri.pdf">Tietosuojailmoitus</a>
            </div>
            <div class="col-md-1"></div>
        </div>


        <div class="form-group has-feedback"
             ng-class="{'has-error': updateAgreementForm.accept_licence_agreement.$invalid && updateAgreementForm.accept_licence_agreement.$dirty,
                    'has-success': updateAgreementForm.accept_licence_agreement.$valid && updateAgreementForm.accept_licence_agreement.$touched}">

            <label for="accept_licence_agreement" class="col-md-3 control-label">Hyväksyn käyttöehdot</label>

            <div class="col-md-8">

                <input type="checkbox"
                       ng-model="user.accept_licence_agreement"
                       name="accept_licence_agreement"
                       id="accept_licence_agreement"
                       class="big-checkbox"
                       required>

                <p class="help-block" ng-messages="updateAgreementForm.accept_licence_agreement.$error" ng-if="!updateAgreementForm.accept_licence_agreement.$pristine">
                    <span ng-message="required">Voidaksesi käyttää palvelua sinun on hyväksyttävä käyttöehdot. Sinut kirjataan ulos, jos et hyväksy palvelun käyttöehtoja.</span>
                </p>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="form-group has-feedback">

            <label for="accept_academic_research" class="col-md-3 control-label">Hyväksyn pelaamiseeni liittyvien tietojen käyttämisen tutkimukseen</label>

            <div class="col-md-8">

                <input type="checkbox"
                       ng-model="user.accept_academic_research"
                       name="accept_academic_research"
                       id="accept_academic_research"
                       class="big-checkbox">
            </div>

            <div class="col-md-1"></div>
        </div>



    </form>

</div>

<div class="modal-footer">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button class="btn btn-default btn-success width-100"
                    type="button"
                    ng-click="updateAgreement()"
                    ng-disabled="updateAgreementForm.$invalid || updateAgreementForm.$pristine"
                    ng-class="{'disabled': updateAgreementForm.$invalid || updateAgreementForm.$pristine}">
                Tallenna
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-warning width-100" type="button" ng-click="cancel()">
                Peruuta
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

