<div class="panel panel-default">
  <div class="panel-heading">
    Case suoritettu!
  </div>
  <div id="collapse0" class="panel-collapse collapse in">
    <div class="panel-body">
      <p>Selvitit casen ja olet tehnyt kaikki tarvittavat toimenpiteet. Onneksi olkoon, <%= current_user.username %>!</p>
    </div>
  </div>
</div>