<div class="panel panel-default panel-light-green">
  <div class="panel-heading panel-heading-green">
    <h3 class="panel-title">Case suoritettu!</h3>
  </div>
  <div class="panel-body">
    <p>Selvitit casen ja olet tehnyt kaikki tarvittavat toimenpiteet. Onneksi olkoon, <%= current_user.username %>!</p>
  </div>
</div>