<%= render 'messages/messages' %>

<h1>Muokkaa casea</h1>

<%= render 'form' %>

<%= button_to 'Takaisin', exercise_path(@exercise.id), :method => :get, :class => "btn btn-default widthAuto", :form_class => "form-back-to-exercise" %>


<script>
    //edit exercise form
    setAjaxSubmits("#anamnesisTab #form-save-exercise", "#anamnesisTab", "post");
    //back to exercise form
    setAjaxSubmits("#anamnesisTab .form-back-to-exercise", "#anamnesisTab", "get");

    $('form[data-remote]').bind('ajax:before', function(){
        for (instance in CKEDITOR.instances){
            CKEDITOR.instances[instance].updateElement();
        }
    });

</script>