<%= render 'messages/messages' %>
<br />
<div class = "row">
  <div class = "col-md-8">
    <h1>Muokkaa casea</h1>
  </div>
  <div class = "col-md-4">
    <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Voit muokata casen nimeä ja anamneesia, sekä valita piilotatko vai näytätkö casen opiskelijalle (checkbox sivun alareunassa).">Ohje</a>
  </div>
</div>


<%= render 'form' %>

<%= button_to 'Takaisin', exercise_path(@exercise.id), :method => :get, :class => "btn btn-default widthAuto", :form_class => "form-back-to-exercise" %>


<script>
    //edit exercise form
    setAjaxSubmits("#anamnesisTab #form-save-exercise", "#anamnesisTab", "post");
    //back to exercise form
    setAjaxSubmits("#anamnesisTab .form-back-to-exercise", "#anamnesisTab", "get");
    $('[data-toggle="popover"]').popover();
</script>