<h1>Muokkaa casea</h1>

<%= render 'form' %>

<%= button_to 'Takaisin', exercises_path, :class => "btn btn-default" %>


<script>
  //edit exercise form
  setAjaxSubmits("#anamnesisTab form", "#anamnesisTab", "post");
</script>