<h1>Taudinpurkauspeli</h1>
<%@exercises.each do |exercise| %>
  <div class="row">
    <div class="col-md-5">
      <%= button_to exercise.name, exercise, :class => 'btn btn-default btn-exercise', :method => :get  %>
    </div>

    <% if current_user_is_admin %>
      <div class="col-md-2">
        <%= button_to 'Poista', exercise, :class => 'btn btn-default btn-del-exercise', :method => :delete, data: { confirm: 'Haluatko varmasti poistaa casen?' } %>
      </div>
    <%end%>
  </div>
<% end %>



<br />
<br />

<%= link_to 'Luo uusi case', new_exercise_path if current_user_is_admin%>
