<h1>Taudinpurkauspeli</h1>
<%@exercises.each do |exercise| %>
    <div class="row">
      <div class="col-md-5">
        <%=if current_user.nil?
           then button_to exercise.name, '', :class => 'btn disabled btn-exercise', :method => :get
           else button_to exercise.name, exercise, :class => 'btn btn-default btn-exercise', :method => :get
           end%>
      </div>
      <% if current_user_is_admin %>
          <div class="col-md-2">
            <%= button_to 'Poista', exercise, :class => 'btn btn-default btn-exercise btn-del', :method => :delete, data: { confirm: 'Haluatko varmasti poistaa casen?' } %>

          </div>
      <%end%>
    </div>
<% end %>
<div class="row">
  <div class="col-md-5">
    <%= button_to '+ Luo uusi case', new_exercise_path, :class => 'btn btn-default btn-exercise btn-save', :method => :get if current_user_is_admin%>
  </div>
</div>
<br />
<br />


