<%= render 'messages/messages' %>

<br>
<div class = "row">
  <div class = "col-md-8">
    <h1>Uusi case</h1>
  </div>
  <div class = "col-md-4">
    <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Casen luonti" data-content="Täytä casen nimi ja anamneesi. Voit halutessasi piilottaa casen opiskelijoilta ruksittamalla kyseisen kohdan. Muista tallentaa!">Ohje</a>
  </div>
</div>


<%= render 'form' %>

<%= link_to 'Takaisin', exercises_path %>
