<% checked_hypothesis = current_user.get_checked_hypothesis(exercise_hypothesis) %>
<div class="col-md-8">
  <%= button_to checked_hypothesis.hypothesis.name, checked_hypothesis, method: :delete, :class => 'btn btn-default btn-checked multiline', :id => "checked_hypothesis_"+checked_hypothesis.id.to_s %>
</div>
<% if @last_clicked_hypothesis_id == checked_hypothesis.exercise_hypothesis.id.to_s %>
  <div class = "col-md-1">
    <div class="info-checked-hypothesis removable"><%= checked_hypothesis.get_explanation %></div>
  </div>
<% end %>