<div class="row">
  <div class="col-md-9">
    <input class="btn btn-default btn-hypothesis-group multiline" type="button" value="<%= group.name %>" data-toggle="collapse" data-target="#collapseHypothesisGroup1<%= group.id%>"/>
  </div>
</div>