<script>
  loadView("<%= exercise_path(current_exercise) %>", $("#anamnesisTab"));
  loadView("/hypotheses", $("#hypothesisTab"));
  loadView("/tasks", $("#taskTab"), true);
</script>

<h1>MUFASA EI OLE KUNINGAS</h1>
<h1><%= exercise_path(current_exercise) %></h1>